description = "Ecosystem text block" 
==

<section class="ecosystem-text-block">
    <div class="container-fluid">
        <div class="row middle-lg">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-lg-offset-1">
                <h2>Het perfecte IT ecosysteem</h2>
                <p>Sycade laat organisaties en bedrijven optimaal renderen en innoveren door IT. Middels onze expertise op het gebied van de Microsoft vertical zijn wij in staat om bedrijven volledig te ontzorgen bij grootschalige integratievraagstukken, dashboarding (BI) en applicatie development.</p>
                <p>Sycade laat organisaties en bedrijven optimaal renderen en innoveren door IT. Middels onze expertise op het gebied van de Microsoft vertical zijn wij in staat om bedrijven volledig te ontzorgen bij grootschalige integratievraagstukken, dashboarding (BI) en applicatie development.</p>
                <div class="buttons">
                    <a href="#" class="btn btn-primary">The Sycade Group</a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5 col-lg-offset-1">
                <div class="image-container">
                    <img class="image-responsive image-rounded" src="http://placehold.it/599x599" alt="">
                </div>
            </div>
        </div>
    </div>
</section>