description = "Image Carousel intro"
==

<section class="image-carousel-intro">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-offset-1 col-lg-11">
                <div class="image-list">
                    <div class="item" style="background-image: url(http://placehold.it/600x600);"></div>
                    <div class="item" style="background-image: url(http://placehold.it/600x600);"></div>
                    <div class="item" style="background-image: url(http://placehold.it/600x600);"></div>
                    <div class="item" style="background-image: url(http://placehold.it/600x600);"></div>
                    <div class="item" style="background-image: url(http://placehold.it/600x600);"></div>
                    <div class="item" style="background-image: url(http://placehold.it/600x600);"></div>
                    <div class="item" style="background-image: url(http://placehold.it/600x600);"></div>
                    <div class="item" style="background-image: url(http://placehold.it/600x600);"></div>
                    <div class="item" style="background-image: url(http://placehold.it/600x600);"></div>
                </div>
            </div>
        </div>
    </div>
</section>