description = "Partner Tools Block"

[builderList toolsList]
modelClass = "Okeonline\Tools\Models\Tools"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "id"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
sortColumn = "sort_order"
sortDirection = "asc"

[viewBag]
==
<section class="partner-tools-block">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-offset-1 col-lg-3">
                <div class="subtitle">Samenwerken</div>
                <h2>Partners & tools</h2>
                <p>Sycade laat organisaties en bedrijven optimaal renderen en innoveren door IT. Middels onze expertise op het gebied van de Microsoft vertical zijn wij in staat om bedrijven volledig te ontzorgen bij grootschalige integratievraagstukken, dashboarding (BI) en applicatie development.</p>
                <p>Sycade laat organisaties en bedrijven optimaal renderen en innoveren door IT. Middels onze expertise op het gebied van de Microsoft vertical zijn wij in staat om bedrijven volledig te ontzorgen bij grootschalige integratievraagstukken, dashboarding (BI) en applicatie development.</p>
                <div class="buttons">
                    <a href="#" class="btn btn-primary">Contact</a>
                </div>

            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-offset-1 col-lg-6">
                <div class="row">
                    {% for record in toolsList.records %}
                        <div class="col-xs-6 col-sm-4 logo-block">
                            <div class="inner">
                                <img src="{{ record.logo | media }}" alt="{{ record.name }}">
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>