desciption = "Team caousel"
==

<section class="team-carousel">
    <div class="sidenote sidenote-white sidenote-top-left">
        <div class="note">
            <span>Team</span>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-offset-1 col-lg-11">
              <div class="subtitle">Maak kennis met onze</div>
              <h2>PHP Koningen</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-offset-1 col-lg-11">
                <div class="team-list">
                    <div class="item">
                        <div class="image">
                            <img src="http://placehold.it/600x900" alt="">
                        </div>
                        <div class="caption">
                            <div class="subtitle">Directeur / Partner</div>
                            <div class="title h4">Klaas Eenkhoorn</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="image">
                            <img src="http://placehold.it/600x900" alt="">
                        </div>
                        <div class="caption">
                            <div class="subtitle">Directeur / Partner</div>
                            <div class="title h4">Klaas Eenkhoorn</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="image">
                            <img src="http://placehold.it/600x900" alt="">
                        </div>
                        <div class="caption">
                            <div class="subtitle">Directeur / Partner</div>
                            <div class="title h4">Klaas Eenkhoorn</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="image">
                            <img src="http://placehold.it/600x900" alt="">
                        </div>
                        <div class="caption">
                            <div class="subtitle">Directeur / Partner</div>
                            <div class="title h4">Klaas Eenkhoorn</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="image">
                            <img src="http://placehold.it/600x900" alt="">
                        </div>
                        <div class="caption">
                            <div class="subtitle">Directeur / Partner</div>
                            <div class="title h4">Klaas Eenkhoorn</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="image">
                            <img src="http://placehold.it/600x900" alt="">
                        </div>
                        <div class="caption">
                            <div class="subtitle">Directeur / Partner</div>
                            <div class="title h4">Klaas Eenkhoorn</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="image">
                            <img src="http://placehold.it/600x900" alt="">
                        </div>
                        <div class="caption">
                            <div class="subtitle">Directeur / Partner</div>
                            <div class="title h4">Klaas Eenkhoorn</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>