description = "Products overview"

[viewBag]

[builderList productList]
modelClass = "Okeonline\Products\Models\Products"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "id"
noRecordsMessage = "No records found"
detailsPage = "products-detail"
detailsKeyColumn = "slug"
detailsUrlParameter = "slug"
pageNumber = "{{ :page }}"
sortColumn = "sort_order"
sortDirection = "asc"
==
<section class="products-overview">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-offset-1 col-lg-6 col-xl-offset-1 col-xl-10">
                {% for record in productList.records %}
                    <div class="row product-item middle-lg">
                        {% if detailsPage %}
                            <a href="{{ detailsPage|page({ (detailsUrlParameter): attribute(record, detailsKeyColumn) }) }}"> 
                        {% endif %}
                            <div class="col-xs-12  col-sm-12 col-md-12 col-lg-3 content-box">
                                <div class="inner">
                                    <div class="title h4">{{ record.title }}<span></span></div>
                                    <div class="caption">{{ record.description_intro | raw }}</div>
                                    <div class="arrow"><i class="far fa-arrow-right"></i></div>
                                </div>
                            </div>
                            <div class="image">
                                <img src="{{ record.image_main | media }}" alt="{{ record.title }}">
                            </div>
                        {% if detailsPage %}
                            </a>
                        {% endif %}
                    </div>
                {% endfor %}                
            </div>
        </div>
    </div>    
</section>