description = "Expertise Blocks"

[viewBag]

[builderList expertiseGroups]
modelClass = "Okeonline\Expertise\Models\Groups"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "id"
noRecordsMessage = "No records found"
detailsPage = "expertise-detail"
detailsKeyColumn = "id"
detailsUrlParameter = "slug"
pageNumber = "{{ :page }}"
sortColumn = "sort_order"
sortDirection = "asc"
==
<section class="expertise-blocks">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-offset-1 col-lg-10">
                <div class="row">
                    {% for record in expertiseGroups.records %}
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 {% if (loop.index is even) %} col-lg-offset-2 {% endif %}">
                            <div class="expertise-block">
                                <div class="icon">
                                    {{ record.icon | raw }}
                                </div>
                                <div class="heading">
                                    <div class="subtitle">{{ record.subtitle }}</div>
                                    <h3>{{ record.title }}</h3>
                                </div>
                                <div class="description">
                                    {{ record.short_description | raw }}
                                </div>
                                <div class="expertise-list">
                                    <ul>
                                        {% for item in record.items %}
                                           <li><a href="/expertise/{{ item.slug }}"><i class="far fa-arrow-right"></i>{{ item.title }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    
                </div>
            </div>
        </div>
    </div>  
</section>