description = "Expertise Quote image carousel"
==

<section class="expertise-quote-image-carousel">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-offset-1 col-lg-11">
                <div class="image-list">
                    <div class="item" style="background-image: url(http://placehold.it/600x600);"></div>
                    <div class="item" style="background-image: url(http://placehold.it/600x600);"></div>
                    <div class="item" style="background-image: url(http://placehold.it/600x600);"></div>
                    <div class="item" style="background-image: url(http://placehold.it/600x600);"></div>
                    <div class="item" style="background-image: url(http://placehold.it/600x600);"></div>
                    <div class="item" style="background-image: url(http://placehold.it/600x600);"></div>
                    <div class="item" style="background-image: url(http://placehold.it/600x600);"></div>
                    <div class="item" style="background-image: url(http://placehold.it/600x600);"></div>
                    <div class="item" style="background-image: url(http://placehold.it/600x600);"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-offset-1 col-lg-6">
                <div class="quote-carousel">
                    <div class="item">
                        <div class="quote">
                            OKE Online staat voor toegankelijke IT-innovaties voor het MKB(+), waarbij datagedreven werken daadwerkelijk rendeert. 
                        </div>
                        <div class="author">
                            <div class="subtitle">Hania Boer</div>
                            <div class="h4">Bas Boer Noten</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="quote">
                            OKE Online staat voor toegankelijke IT-innovaties voor het MKB(+), waarbij datagedreven werken daadwerkelijk rendeert. 
                        </div>
                        <div class="author">
                            <div class="subtitle">Hania Boer</div>
                            <div class="h4">Bas Boer Noten</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="quote">
                            OKE Online staat voor toegankelijke IT-innovaties voor het MKB(+), waarbij datagedreven werken daadwerkelijk rendeert. 
                        </div>
                        <div class="author">
                            <div class="subtitle">Hania Boer</div>
                            <div class="h4">Bas Boer Noten</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="quote">
                            OKE Online staat voor toegankelijke IT-innovaties voor het MKB(+), waarbij datagedreven werken daadwerkelijk rendeert. 
                        </div>
                        <div class="author">
                            <div class="subtitle">Hania Boer</div>
                            <div class="h4">Bas Boer Noten</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>