description = "Hero expertise" 
==

<section class="hero-expertise">
    <div class="moving-bg"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-offset-1 col-lg-6 col-xl-offset-3 col-xl-6">
                <div class="content text-center">
                    <div class="subtitle">Expertise</div>
                    <h1>Digital expertise</h1>
                    <p>Sycade laat organisaties en bedrijven optimaal renderen en innoveren door IT. Middels onze expertise op het gebied van de Microsoft vertical zijn wij in staat om bedrijven volledig te ontzorgen bij grootschalige integratievraagstukken, dashboarding (BI) en applicatie development.</p>
                </div>
            </div>
        </div>
    </div>
    {% partial 'theme-sidenotes/scroll-down' %}
</section>