
footer {
    background: $color-primary;
    padding: 100px 0px 50px 0px;

    .footer-top {

        .footer-title {
            font-weight: $font-weight-bold;
            color: $color-white;
            font-size: 40px;
            margin-bottom: 30px;
            width: 90%;

            span {
                font-size: 24px;
                margin-top: 15px;
                display: block;
                color: $color-accent;
                font-weight: $font-weight-regular;
            }
        }

    }

    .footer-center {
        margin: 80px 0px 40px 0px;

        ul.contact {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            list-style: none;
            margin: 0px;
            padding: 0px;

            li {
                color: $color-white;
                margin: 1em 0;

                a {

                    &::after {
                        content: '';
                        display: block;
                        height: 1px;
                        width: 100%;
                        position: relative;
                        background: $color-accent;
                        margin-top: 6px;
                    }
                }
            }
        }

        ul.social {
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            list-style: none;
            margin-top: 30px;
            padding: 0px;

            li {
                margin-right: 20px;

                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: $color-primary;
                    width: 40px;
                    height: 40px;
                    border-radius: 50px;
                    background: $color-white;
                }
            }
        }
    }

    .footer-bottom {

        ul.copyright {
            display: flex;
            flex-direction: column-reverse;
            align-items: flex-start;
            list-style: none;
            margin: 0px;
            padding: 0px;

            li {
                color: $color-white;
                opacity: .2;
                margin: .5em 0;
                font-size: .8em;
            }
        }
    }

}

@media screen and (min-width: $break-xs) {
    footer {

        .footer-center {

            ul.contact {
                flex-direction: row;
                justify-content: space-between;
            }
        }

    }
}

@media screen and (min-width: $break-sm) {
    footer {

        .footer-center {

            ul.contact {
                flex-direction: row;
                justify-content: flex-start;

                li {
                    margin-right: 30px;
                }
            }
        }

        .footer-bottom {

            ul.copyright {
                flex-direction: row;

                li {
                    margin-right: 50px;
                }
            }
        }

    }
}

@media screen and (min-width: $break-md) { 
    footer {

        .footer-center {

            ul.contact {
                flex-wrap: wrap;

                li {

                    &:first-child {
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: $break-lg) {
    footer {

        .footer-top {

            .footer-title {
                font-size: 54px;

                span {
                    font-size: 36px;
                }
            }
        }

        .footer-center {

            ul.contact {
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: flex-start;

                 li {
                    margin-right: 50px;

                    &:first-child {
                        width: auto;
                    }

                 }
            }

            ul.social {
                margin: 0px;

                li {

                }
            }

        }
    }
}