header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: transparent;
    padding: 30px 0px;
    z-index: 99;

    .logo {

        a {
            display: flex;

            img {
                max-height: 35px;
                width: auto; 
            }
        }
    }
}

@media screen and (min-width: $break-lg) {
    header {
        padding: 40px;

        .logo {

            a {

                img {
                    max-height: 45px;
                }
            }
        }
    }
}