body.overlay-is-open {
    position: fixed;
}

.menu-overlay {
    display: none;

    &.open {
        display: block;
        position: fixed;
        background: $color-primary;
        right: 0;
        top: 0;
        height: 100%;
        width: 100%;
        display: block;
        overflow-x: scroll;
        z-index: 98;
    }

    .menu-overlay-nav {
        margin: 120px 0px;
        

        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                margin: 0px;
                
                a {
                    display: block;
                    color: #FFF;
                    font-weight: $font-weight-bold;
                    text-align: center;
                    padding: 1em 0;
                    font-size: 22px;
                }

                &:last-child {
                    
                    a {
                        border-bottom: none;
                    }
                }
            }
        }
    }
}


@media screen and (min-width: $break-md) { 
    .menu-overlay {
        display: none;
    
        &.open {
            display: none;
        }
    }
}