
.mobile-navigation {
    position: relative;
    display: flex;
    justify-content: flex-end;

    .hamburger {
        width: 25px;
        height: 16px;
        position: relative;
        cursor: pointer;
        transition: all 250ms ease-in-out;
        

        span {
            width: 100%;
            background: $color-white;
            height: 2px;
            position: absolute;
            transition: all 350ms ease-in-out;

            &:first-child {
                top: 0;
            }

            &:nth-child(2) {
                top: 50%;
                transform: translateY(-50%);
            }
            &:last-child {
                bottom: 0;
                width: 70%;
            }
        }

        &.open {
            
            span {

                &:first-child {
                    top: 50%;
                    transform: translateY(-50%) rotate(-45deg);
                }

                &:nth-child(2) {
                    top: 50%;
                    transform: translateY(-50%) rotate(45deg);
                }
                &:last-child {
                    bottom: 0;
                    width: 0px;
                    opacity: 0;
                }
            }
        }
    }
}


@media screen and (min-width: $break-md) {

    .mobile-navigation {
        display: none;
    }

    .desktop-navigation {
    
        nav {
    
            ul {
                list-style: none;
                margin: 0px;
                padding: 0px;
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
    
                li {
                    padding: 10px 15px;
    
                    a {
                        color: $color-white;
                        font-weight: $font-weight-bold;
                        text-transform: uppercase;
                        position: relative;
                        transition: all .5s;
                        font-size: 16px;
    
                        &::after {
                            content: '';
                            transition: border-width ease-in-out 1s;
                            display: none;
                        }
    
    
                        &:hover {
    
                            &::after {
                                content: '';
                                border-bottom: 2px solid $color-accent;
                                display: block;
                                width: 100%;
                                position: absolute;
                                bottom: -10px;
                            }
                        }
                    }
                }
            }
        }
    }


 }



@media screen and (min-width: $break-lg) {
    .desktop-navigation {
    
        nav {
    
            ul {
                justify-content:  center;
    
                li {
                    padding: 10px 20px;
                }
            }
        }
    }
}

@media screen and (min-width: $break-xl) {
    .desktop-navigation {
    
        nav {
    
            ul {
                justify-content:  center;
    
                li {
                    padding: 10px 25px;
                }
            }
        }
    }
}