.stories-overview {

    .stories-overview-list {
        margin-top: -300px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        position: relative;
        z-index: 9;

        .item {
            position: relative;
            width: 47%;
            border-radius: 12px;
            margin-bottom: 80px;
            min-height: 60vh;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            overflow: hidden;
            
            a {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                display: block;
                width: 100%;
                height: 100%;
                
                .caption {
                    position: absolute;
                    left: 0px;
                    bottom: 0px;
                    padding: 30px;
    
                    .title {
                        font-family: upgrade, sans-serif;
                        font-weight: 500;
                        font-size: 1.8em;
                        color: #FFF;
                    }
                    .arrow {
                        margin-top: 15px;;
    
                        svg {
                            color: $color-accent;
                        }
                    }
    
                }
            }

            &::after {
                content: '';
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                display: block;
                background: linear-gradient(to top, rgba(18,17,36,1), rgba(18,17,36,0));
                width: 100%;
                height: 100%;
                z-index: 1;
                
            }

        }

    }

}