/* Abstracts */
/* Colors */
/* Fonts */
/* Borders */
/* Shadows */
/* Overlay */
html, body {
  overflow-x: hidden; }

body {
  margin: 0px;
  font-size: 18px;
  font-family: upgrade, sans-serif;
  font-weight: 300;
  font-style: normal;
  background-color: #121124;
  -webkit-font-smoothing: antialiased; }

a {
  text-decoration: none;
  color: inherit; }

p {
  margin-bottom: 30px; }

/* Base */
section {
  padding: 60px 0px;
  position: relative;
  box-sizing: border-box;
  background-color: #FFFFFF; }

.container-fluid {
  padding-right: 25px;
  padding-left: 25px; }

@media screen and (min-width: 1200px) {
  section {
    padding: 100px 0px; }

  .container-fluid {
    padding-right: 0px;
    padding-left: 0px; } }
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family: upgrade, sans-serif;
  font-weight: 500;
  margin: 0;
  padding: 0;
  color: #121124;
  display: block;
  position: relative; }

h1, .h1 {
  font-size: 80px;
  line-height: inherit; }

h2, .h2 {
  font-size: 50px;
  line-height: inherit;
  margin-bottom: 30px; }

h3, .h3 {
  font-size: 44px;
  line-height: inherit;
  margin-bottom: 30px; }

h4, .h4 {
  font-size: 34px;
  line-height: inherit;
  margin-bottom: 30px; }

.subtitle {
  color: #E62A49;
  text-transform: uppercase; }

p {
  line-height: 2em; }

strong {
  font-weight: 500; }

.text-center {
  text-align: center; }

@media only screen and (max-width: 90rem) {
  h1, .h1 {
    font-size: 50px; }

  h2, .h2 {
    font-size: 34px; }

  h3, .h3 {
    font-size: 28px; }

  h4, .h4 {
    font-size: 24px; }

  .subtitle {
    font-size: .8rem;
    margin-bottom: 10px; } }
.image-responsive {
  width: 100%; }

.image-rounded {
  border-radius: 12px; }

.image-shadow {
  box-shadow: 0px 0px 30px rgba(18, 17, 36, 0.35); }

.image-container {
  position: relative;
  text-align: center;
  overflow: hidden;
  z-index: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .image-container img {
    object-fit: cover;
    height: auto;
    width: 100%;
    max-width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    position: relative; }

.image-marker-animation {
  position: relative; }
  .image-marker-animation::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #E62A49;
    z-index: 1;
    left: 0;
    border-radius: 12px;
    -webkit-transition: left 1s ease-in-out;
    -moz-transition: left 1s ease-in-out;
    -ms-transition: left 1s ease-in-out;
    -o-transition: left 1s ease-in-out;
    transition: left 1s ease-in-out; }
  .image-marker-animation.in-view::before {
    left: 100%;
    -webkit-transition-delay: 1s;
    -moz-transition-delay: 1s;
    -ms-transition-delay: 1s;
    -o-transition-delay: 1s;
    transition-delay: 1s; }

.btn {
  padding: 12px 45px;
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  font-size: 16px;
  transition: ease-in-out .5s; }

.btn-primary {
  background-color: #E62A49;
  border-color: #E62A49;
  color: #FFFFFF; }
  .btn-primary:hover {
    background-color: transparent;
    color: #E62A49; }

.btn-secondary {
  background-color: transparent;
  border-color: #E62A49;
  color: #FFFFFF; }

.buttons {
  margin: 40px 0px; }

.buttons .btn {
  margin-right: 20px;
  margin-bottom: 20px; }

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(230, 42, 73, 0.4); }
  70% {
    -webkit-box-shadow: 0 0 0 30px rgba(230, 42, 73, 0); }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(230, 42, 73, 0); } }
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(230, 42, 73, 0.4);
    box-shadow: 0 0 0 0 rgba(230, 42, 73, 0.4); }
  70% {
    -moz-box-shadow: 0 0 0 30px rgba(230, 42, 73, 0);
    box-shadow: 0 0 0 30px rgba(230, 42, 73, 0); }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(230, 42, 73, 0);
    box-shadow: 0 0 0 0 rgba(230, 42, 73, 0); } }
.marker-animation {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #E62A49;
  width: 100%;
  z-index: 999; }

.animsition-overlay-slide {
  z-index: 9999;
  background-color: #E62A49; }

/* Components */
#pointer-dot {
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  border: 2.5px solid #E62A49;
  position: fixed;
  border-radius: 4px;
  z-index: 10;
  pointer-events: none;
  transition: border-color 0.5s; }

#pointer-ring {
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  padding: 15px;
  border: 2px solid #E62A49;
  position: fixed;
  border-radius: 100px;
  z-index: 11;
  pointer-events: none; }

html {
  cursor: none !important; }

a {
  cursor: none !important; }

.sidebar-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0; }

.group-badge {
  position: fixed;
  bottom: 0px;
  right: 40px;
  width: 150px;
  z-index: 999; }
  .group-badge a {
    margin: 0;
    padding: 0;
    display: block; }
    .group-badge a img {
      width: 100%;
      box-shadow: 0px 0px 30px rgba(18, 17, 36, 0.2);
      position: absolute;
      bottom: 0; }

@media only screen and (max-width: 90rem) {
  .group-badge {
    display: none; } }
.progress-container {
  width: 100%;
  height: 5px;
  background: transparent;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 99; }
  .progress-container .progress-bar {
    height: 5px;
    background: #E62A49;
    width: 0%; }

.sidenote {
  position: absolute;
  z-index: 98;
  width: 8.33%;
  display: flex;
  flex-direction: column;
  align-items: center; }

.sidenote-white {
  color: #FFFFFF; }
  .sidenote-white::after {
    background-color: #FFFFFF; }
  .sidenote-white::before {
    background-color: #FFFFFF; }

.sidenote-dark {
  color: #121124; }
  .sidenote-dark::after {
    background-color: #121124; }
  .sidenote-dark::before {
    background-color: #121124; }

.sidenote-top-left {
  left: 0px;
  top: 0px; }
  .sidenote-top-left span {
    transform: rotate(-90deg);
    display: block;
    text-transform: uppercase; }
  .sidenote-top-left::before {
    content: '';
    width: 1px;
    height: 100px;
    margin-bottom: 50px; }

.sidenote-top-right {
  right: 0px;
  top: 0px; }
  .sidenote-top-right span {
    transform: rotate(-90deg);
    display: block;
    text-transform: uppercase; }
  .sidenote-top-right::before {
    content: '';
    width: 1px;
    height: 100px;
    margin-bottom: 50px; }

.sidenote-bottom-left {
  left: 0px;
  bottom: 0px; }
  .sidenote-bottom-left span {
    transform: rotate(-90deg);
    display: block;
    text-transform: uppercase; }
  .sidenote-bottom-left::after {
    content: '';
    width: 1px;
    height: 100px;
    margin-top: 50px; }

.sidenote-bottom-right {
  right: 0px;
  bottom: 0px; }
  .sidenote-bottom-right span {
    transform: rotate(90deg);
    display: block;
    text-transform: uppercase; }
  .sidenote-bottom-right::after {
    content: '';
    width: 1px;
    height: 100px;
    margin-top: 50px; }

@media only screen and (max-width: 90rem) {
  .sidenote {
    display: none; } }
.sidenote.scroll-down {
  left: 0px;
  top: 85%; }

.sidenote.scroll-down .line {
  height: 100px;
  position: relative; }
  .sidenote.scroll-down .line::after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 1px;
    width: 100px;
    margin-top: 50px;
    background-color: #E62A49;
    animation: scrolldown 3s infinite; }

@keyframes scrolldown {
  0% {
    width: 0px; }
  50% {
    width: 100px; }
  100% {
    width: 0px; } }
.hero-dark-full-screen {
  min-height: 100vh;
  background: #121124; }
  .hero-dark-full-screen .content {
    color: #FFFFFF;
    padding-top: 250px; }

.partner-tools-block .logo-block {
  margin-bottom: 15px; }
  .partner-tools-block .logo-block .inner {
    padding: 40px 20px;
    border: 1px solid #EBEBEB;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center; }
    .partner-tools-block .logo-block .inner img {
      max-width: 300px;
      max-height: 100px; }

/* Layout */
header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: transparent;
  padding: 30px 0px;
  z-index: 99; }
  header .logo a {
    display: flex; }
    header .logo a img {
      max-height: 35px;
      width: auto; }

@media screen and (min-width: 1200px) {
  header {
    padding: 40px; }
    header .logo a img {
      max-height: 45px; } }
.mobile-navigation {
  position: relative;
  display: flex;
  justify-content: flex-end; }
  .mobile-navigation .hamburger {
    width: 25px;
    height: 16px;
    position: relative;
    cursor: pointer;
    transition: all 250ms ease-in-out; }
    .mobile-navigation .hamburger span {
      width: 100%;
      background: #FFFFFF;
      height: 2px;
      position: absolute;
      transition: all 350ms ease-in-out; }
      .mobile-navigation .hamburger span:first-child {
        top: 0; }
      .mobile-navigation .hamburger span:nth-child(2) {
        top: 50%;
        transform: translateY(-50%); }
      .mobile-navigation .hamburger span:last-child {
        bottom: 0;
        width: 70%; }
    .mobile-navigation .hamburger.open span:first-child {
      top: 50%;
      transform: translateY(-50%) rotate(-45deg); }
    .mobile-navigation .hamburger.open span:nth-child(2) {
      top: 50%;
      transform: translateY(-50%) rotate(45deg); }
    .mobile-navigation .hamburger.open span:last-child {
      bottom: 0;
      width: 0px;
      opacity: 0; }

@media screen and (min-width: 992px) {
  .mobile-navigation {
    display: none; }

  .desktop-navigation nav ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end; }
    .desktop-navigation nav ul li {
      padding: 10px 15px; }
      .desktop-navigation nav ul li a {
        color: #FFFFFF;
        font-weight: 500;
        text-transform: uppercase;
        position: relative;
        transition: all .5s;
        font-size: 16px; }
        .desktop-navigation nav ul li a::after {
          content: '';
          transition: border-width ease-in-out 1s;
          display: none; }
        .desktop-navigation nav ul li a:hover::after {
          content: '';
          border-bottom: 2px solid #E62A49;
          display: block;
          width: 100%;
          position: absolute;
          bottom: -10px; } }
@media screen and (min-width: 1200px) {
  .desktop-navigation nav ul {
    justify-content: center; }
    .desktop-navigation nav ul li {
      padding: 10px 20px; } }
@media screen and (min-width: 1400px) {
  .desktop-navigation nav ul {
    justify-content: center; }
    .desktop-navigation nav ul li {
      padding: 10px 25px; } }
body.overlay-is-open {
  position: fixed; }

.menu-overlay {
  display: none; }
  .menu-overlay.open {
    display: block;
    position: fixed;
    background: #121124;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: block;
    overflow-x: scroll;
    z-index: 98; }
  .menu-overlay .menu-overlay-nav {
    margin: 120px 0px; }
    .menu-overlay .menu-overlay-nav ul {
      list-style: none;
      margin: 0;
      padding: 0; }
      .menu-overlay .menu-overlay-nav ul li {
        margin: 0px; }
        .menu-overlay .menu-overlay-nav ul li a {
          display: block;
          color: #FFF;
          font-weight: 500;
          text-align: center;
          padding: 1em 0;
          font-size: 22px; }
        .menu-overlay .menu-overlay-nav ul li:last-child a {
          border-bottom: none; }

@media screen and (min-width: 992px) {
  .menu-overlay {
    display: none; }
    .menu-overlay.open {
      display: none; } }
footer {
  background: #121124;
  padding: 100px 0px 50px 0px; }
  footer .footer-top .footer-title {
    font-weight: 500;
    color: #FFFFFF;
    font-size: 40px;
    margin-bottom: 30px;
    width: 90%; }
    footer .footer-top .footer-title span {
      font-size: 24px;
      margin-top: 15px;
      display: block;
      color: #E62A49;
      font-weight: 300; }
  footer .footer-center {
    margin: 80px 0px 40px 0px; }
    footer .footer-center ul.contact {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      list-style: none;
      margin: 0px;
      padding: 0px; }
      footer .footer-center ul.contact li {
        color: #FFFFFF;
        margin: 1em 0; }
        footer .footer-center ul.contact li a::after {
          content: '';
          display: block;
          height: 1px;
          width: 100%;
          position: relative;
          background: #E62A49;
          margin-top: 6px; }
    footer .footer-center ul.social {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      list-style: none;
      margin-top: 30px;
      padding: 0px; }
      footer .footer-center ul.social li {
        margin-right: 20px; }
        footer .footer-center ul.social li a {
          display: flex;
          justify-content: center;
          align-items: center;
          color: #121124;
          width: 40px;
          height: 40px;
          border-radius: 50px;
          background: #FFFFFF; }
  footer .footer-bottom ul.copyright {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    list-style: none;
    margin: 0px;
    padding: 0px; }
    footer .footer-bottom ul.copyright li {
      color: #FFFFFF;
      opacity: .2;
      margin: .5em 0;
      font-size: .8em; }

@media screen and (min-width: 600px) {
  footer .footer-center ul.contact {
    flex-direction: row;
    justify-content: space-between; } }
@media screen and (min-width: 768px) {
  footer .footer-center ul.contact {
    flex-direction: row;
    justify-content: flex-start; }
    footer .footer-center ul.contact li {
      margin-right: 30px; }
  footer .footer-bottom ul.copyright {
    flex-direction: row; }
    footer .footer-bottom ul.copyright li {
      margin-right: 50px; } }
@media screen and (min-width: 992px) {
  footer .footer-center ul.contact {
    flex-wrap: wrap; }
    footer .footer-center ul.contact li:first-child {
      width: 100%; } }
@media screen and (min-width: 1200px) {
  footer .footer-top .footer-title {
    font-size: 54px; }
    footer .footer-top .footer-title span {
      font-size: 36px; }
  footer .footer-center ul.contact {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start; }
    footer .footer-center ul.contact li {
      margin-right: 50px; }
      footer .footer-center ul.contact li:first-child {
        width: auto; }
  footer .footer-center ul.social {
    margin: 0px; } }
/* Pages */
.hero-home-video {
  min-height: 100vh;
  background-color: #121124; }
  .hero-home-video .moving-bg {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-image: url("../../assets/img/branding/wave-01.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transform: scale(1.1); }
  .hero-home-video .content {
    color: #FFFFFF;
    padding-top: 150px;
    position: relative;
    z-index: 10; }
    .hero-home-video .content h1 {
      color: #FFFFFF; }
  .hero-home-video .video-play {
    display: none;
    padding-top: 350px;
    position: relative;
    z-index: 10; }
    .hero-home-video .video-play a {
      display: flex;
      align-items: center; }
      .hero-home-video .video-play a .video-play-button {
        margin-right: 50px;
        color: #FFFFFF;
        font-size: 2em;
        background: transparent;
        border: 2px solid #E62A49;
        width: 100px;
        height: 100px;
        border-radius: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        animation: pulse 2s infinite; }
      .hero-home-video .video-play a .video-play-text {
        display: flex;
        align-items: center; }
        .hero-home-video .video-play a .video-play-text span {
          color: #FFFFFF; }
          .hero-home-video .video-play a .video-play-text span::before {
            content: '';
            width: 100px;
            height: 1px;
            background: #FFFFFF;
            display: inline-block;
            margin-right: 50px;
            top: -5px;
            position: relative; }

@media screen and (min-width: 1400px) {
  .hero-home-video .content {
    padding-top: 250px; } }
.image-quote-full {
  background-color: #FFFFFF; }
  .image-quote-full .container-fluid {
    padding-right: 0; }
  .image-quote-full .image {
    border-radius: 12px 0px 0px 12px;
    height: 60vh;
    margin-top: -100px;
    position: relative;
    overflow: hidden; }
    .image-quote-full .image .content {
      position: absolute;
      z-index: 50;
      left: 25px;
      bottom: 25px;
      right: 25px;
      width: 80%; }
      .image-quote-full .image .content .quote {
        font-size: 24px;
        font-weight: 500;
        font-style: italic;
        color: #FFFFFF; }
    .image-quote-full .image::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(to top, #121124 0%, transparent 100%); }

@media screen and (min-width: 992px) {
  .image-quote-full .image {
    height: 80vh;
    margin-top: -150px; }
    .image-quote-full .image .content {
      left: 50px;
      bottom: 50px;
      width: 100%;
      max-width: 800px; }
      .image-quote-full .image .content .quote {
        font-size: 40px; } }
.text-image-block h2 {
  color: #121124; }
.text-image-block .image {
  position: relative; }

.client-carousel h4 {
  margin-bottom: 50px; }
.client-carousel .client-carousel-list .item img {
  width: 100%;
  filter: grayscale(100%);
  opacity: .5; }

.featured-cases-carousel {
  background: #121124; }
  .featured-cases-carousel .slide-info {
    color: #E62A49;
    position: absolute;
    right: 15%;
    top: 104px; }
  .featured-cases-carousel .cases-list .item {
    position: relative; }
    .featured-cases-carousel .cases-list .item:focus {
      outline: none; }
    .featured-cases-carousel .cases-list .item .content {
      margin-top: 30px; }
      .featured-cases-carousel .cases-list .item .content h3 {
        color: #FFFFFF; }
      .featured-cases-carousel .cases-list .item .content p {
        color: #FFFFFF; }
      .featured-cases-carousel .cases-list .item .content .btn {
        margin-top: 20px; }
  .featured-cases-carousel .cases-list .slick-dots {
    display: none !important; }
  .featured-cases-carousel .cases-list .slick-arrow {
    color: #FFFFFF;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 20px; }
    .featured-cases-carousel .cases-list .slick-arrow.slick-prev {
      right: 50px; }

@media screen and (min-width: 992px) {
  .featured-cases-carousel .cases-list .item .content {
    margin-top: 0px; } }
.products-carousel .quote {
  font-size: 1.5em;
  font-style: italic;
  margin-top: 40px;
  margin-bottom: 40px;
  font-weight: 500; }
.products-carousel .products-list {
  margin: 30px 0px 60px 0px; }
  .products-carousel .products-list .item {
    border-radius: 12px;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 30px rgba(18, 17, 36, 0.2); }
    .products-carousel .products-list .item a .inner {
      padding: 25px; }
      .products-carousel .products-list .item a .inner .title {
        font-weight: 500;
        font-size: 24px;
        text-transform: uppercase;
        max-width: 80%;
        margin-bottom: 30px; }
        .products-carousel .products-list .item a .inner .title span {
          color: #E62A49; }
      .products-carousel .products-list .item a .inner .caption {
        margin-bottom: 30px; }
.products-carousel .slick-slide {
  margin: 0 27px; }
.products-carousel .slick-list {
  margin: 0 -27px; }

@media screen and (min-width: 992px) {
  .products-carousel .quote {
    font-size: 2em; }
  .products-carousel .products-list .item a .inner {
    padding: 40px; }
    .products-carousel .products-list .item a .inner .title {
      font-size: 28px; } }
.stories-carousel {
  background: #121124; }
  .stories-carousel .stories-list {
    margin: 30px 0px 60px 0px; }
    .stories-carousel .stories-list .item {
      border-radius: 12px;
      background: #FFFFFF; }
      .stories-carousel .stories-list .item a .inner {
        padding: 40px; }
        .stories-carousel .stories-list .item a .inner .caption {
          font-weight: 500;
          font-size: 28px;
          max-width: 90%;
          margin-bottom: 30px; }
  .stories-carousel .slick-slide {
    margin: 0 27px; }
  .stories-carousel .slick-list {
    margin: 0 -27px; }

.jobs-block .image {
  position: relative; }
  .jobs-block .image img {
    margin-bottom: 30px; }
.jobs-block .job-list-short {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #EBEBEB;
  border-bottom: 1px solid #EBEBEB;
  margin: 30px 0px; }
  .jobs-block .job-list-short .item {
    padding: 20px 0px;
    border-bottom: 1px solid #EBEBEB; }
    .jobs-block .job-list-short .item a {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: relative; }
      .jobs-block .job-list-short .item a .title {
        font-weight: 500;
        font-size: 1.2em;
        max-width: 80%; }
      .jobs-block .job-list-short .item a .details {
        max-width: 80%; }
        .jobs-block .job-list-short .item a .details span {
          margin-right: 15px;
          color: #E62A49; }
      .jobs-block .job-list-short .item a .arrow {
        color: #E62A49;
        right: 30px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%); }
    .jobs-block .job-list-short .item:last-child {
      border-bottom: 0px; }

@media screen and (min-width: 600px) {
  .jobs-block .job-list-short .item a {
    flex-direction: row;
    justify-content: flex-start; }
    .jobs-block .job-list-short .item a .title {
      width: 50%; }
    .jobs-block .job-list-short .item a .details {
      width: auto;
      padding-right: 50px; } }
@media screen and (min-width: 992px) {
  .jobs-block .job-list-short .item a {
    flex-direction: column; }
    .jobs-block .job-list-short .item a .title {
      width: 80%; }
    .jobs-block .job-list-short .item a .details {
      width: 80%; } }
@media screen and (min-width: 1200px) {
  .jobs-block .job-list-short .item a {
    flex-direction: row;
    justify-content: flex-start; }
    .jobs-block .job-list-short .item a .title {
      width: 50%; }
    .jobs-block .job-list-short .item a .details {
      width: auto;
      padding-right: 50px; } }
.hero-about {
  min-height: 100vh;
  background: #121124; }
  .hero-about .moving-bg {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-image: url("../../assets/img/branding/wave-02.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transform: scale(1.1); }
  .hero-about .content {
    color: #FFFFFF;
    padding-top: 150px;
    position: relative;
    z-index: 9; }
    .hero-about .content h1 {
      color: #FFFFFF; }

@media screen and (min-width: 1400px) {
  .hero-about .content {
    padding-top: 250px; } }
.image-carousel-intro {
  position: relative;
  z-index: 9; }
  .image-carousel-intro .container-fluid {
    padding: 0; }
  .image-carousel-intro .image-list {
    margin-top: -120px;
    border-radius: 12px 0px 0px 12px;
    overflow: hidden; }
    .image-carousel-intro .image-list .item {
      height: 50vh;
      width: 100%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 12px; }
      .image-carousel-intro .image-list .item:nth-child(even) {
        margin-top: 30px; }
  .image-carousel-intro .slick-slide {
    margin: 0 27px; }
  .image-carousel-intro .slick-list {
    margin: 0 -27px; }

@media screen and (min-width: 1200px) {
  .image-carousel-intro .image-list {
    margin-top: -250px; }
    .image-carousel-intro .image-list .item {
      height: 500px; }
      .image-carousel-intro .image-list .item:nth-child(even) {
        margin-top: 50px; } }
.core-values {
  position: relative;
  padding-bottom: 130px !important; }
  .core-values .slide-info {
    color: #E62A49;
    position: absolute;
    right: 110px;
    top: 91px;
    left: auto; }
  .core-values .values-list .item {
    position: relative; }
    .core-values .values-list .item:focus {
      outline: none; }
  .core-values .slick-dots {
    display: none !important; }
  .core-values .slick-arrow {
    color: #121124;
    position: absolute;
    font-size: 20px;
    top: 30px;
    left: auto;
    right: 0; }
    .core-values .slick-arrow.slick-prev {
      right: 50px; }
    .core-values .slick-arrow.slick-next {
      right: 0px; }

@media screen and (min-width: 992px) {
  .core-values .slide-info {
    left: 20%;
    top: 191px;
    right: auto; }
  .core-values .slick-arrow {
    top: 130px;
    left: 0px;
    right: auto; }
    .core-values .slick-arrow.slick-prev {
      left: 0px;
      right: auto; }
    .core-values .slick-arrow.slick-next {
      left: 50px;
      right: auto; } }
@media screen and (min-width: 1200px) {
  .core-values .slide-info {
    left: 15%;
    top: 232px; } }
.team-carousel {
  background: #121124; }
  .team-carousel h2 {
    color: #FFFFFF; }
  .team-carousel .team-list {
    margin-top: 30px;
    position: relative;
    z-index: 5; }
    .team-carousel .team-list .item .image img {
      width: 100%; }
    .team-carousel .team-list .item .caption {
      padding: 30px 0px;
      text-align: center; }
      .team-carousel .team-list .item .caption .title {
        font-size: 28px; }
    .team-carousel .team-list .item:focus {
      outline: none; }
  .team-carousel::after {
    content: '';
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    right: 0;
    background: #FFFFFF;
    height: 35vh; }
  .team-carousel .slick-slide {
    margin: 0 27px; }
  .team-carousel .slick-list {
    margin: 0 -27px; }
  .team-carousel .slick-arrow {
    color: #FFFFFF;
    position: absolute;
    right: 0px;
    top: -95px;
    font-size: 20px; }
    .team-carousel .slick-arrow.slick-prev {
      right: 49px; }

@media screen and (min-width: 1200px) {
  .team-carousel .slick-arrow {
    top: -130px;
    right: 10%; }
    .team-carousel .slick-arrow.slick-prev {
      right: 15%; } }
.culture-carousel {
  background: #121124; }
  .culture-carousel .container-fluid {
    padding: 0; }
  .culture-carousel .image-list {
    border-radius: 12px 0px 0px 12px;
    overflow: hidden;
    position: relative;
    z-index: 5;
    margin-top: 0px; }
    .culture-carousel .image-list .item {
      height: 50vh;
      width: 100%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 12px; }
      .culture-carousel .image-list .item:nth-child(even) {
        margin-top: 30px; }
  .culture-carousel::after {
    content: '';
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    right: 0;
    background: #FFFFFF;
    height: 20vh; }
  .culture-carousel .slick-slide {
    margin: 0 27px; }
  .culture-carousel .slick-list {
    margin: 0 -27px; }

@media screen and (min-width: 1200px) {
  .culture-carousel .image-list .item {
    height: 500px; }
    .culture-carousel .image-list .item:nth-child(even) {
      margin-top: 50px; } }
.client-carousel h4 {
  margin-bottom: 50px; }

.hero-expertise {
  min-height: 100vh;
  background: #121124; }
  .hero-expertise .moving-bg {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-image: url("../../assets/img/branding/wave-03.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transform: scale(1.1); }
  .hero-expertise .content {
    color: #FFFFFF;
    padding-top: 250px;
    position: relative;
    z-index: 9; }
    .hero-expertise .content h1 {
      color: #FFFFFF; }

@media only screen and (max-width: 90rem) {
  .hero-expertise .content {
    padding-top: 100px; } }
.expertise-image-quote-full {
  background-color: #FFFFFF; }
  .expertise-image-quote-full .image {
    border-radius: 12px 0px 0px 12px;
    height: 80vh;
    margin-top: -250px;
    position: relative;
    overflow: hidden;
    z-index: 9; }
    .expertise-image-quote-full .image .content {
      position: absolute;
      left: 50px;
      bottom: 50px;
      z-index: 50; }
      .expertise-image-quote-full .image .content .quote {
        font-size: 40px;
        font-weight: 500;
        font-style: italic;
        color: #FFFFFF; }
    .expertise-image-quote-full .image::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(to top, #121124 0%, transparent 100%); }

@media only screen and (max-width: 90rem) {
  .expertise-image-quote-full .container-fluid {
    padding-right: 0; }

  .expertise-image-quote-full .image {
    height: 60vh;
    margin-top: -100px; }
    .expertise-image-quote-full .image .content {
      left: 25px;
      bottom: 25px;
      right: 25px;
      width: 80%; }
      .expertise-image-quote-full .image .content .quote {
        font-size: 24px; } }
.expertise-blocks .expertise-block {
  margin-bottom: 50px;
  padding-bottom: 30px;
  border-bottom: 1px solid #EBEBEB; }
  .expertise-blocks .expertise-block .icon {
    color: #E62A49;
    font-size: 2.5em; }
  .expertise-blocks .expertise-block .heading {
    margin-top: 15px; }
    .expertise-blocks .expertise-block .heading h3 {
      margin-bottom: 10px; }
  .expertise-blocks .expertise-block .description {
    margin-bottom: 10px; }
  .expertise-blocks .expertise-block .expertise-list ul {
    list-style: none;
    margin: 1.5em 0 0 0;
    padding: 0px; }
    .expertise-blocks .expertise-block .expertise-list ul li {
      margin: 1em 0; }
      .expertise-blocks .expertise-block .expertise-list ul li a {
        transition: ease .5s; }
        .expertise-blocks .expertise-block .expertise-list ul li a svg {
          transition: ease .5s;
          color: #E62A49;
          margin-right: 1em; }
        .expertise-blocks .expertise-block .expertise-list ul li a:hover {
          color: #E62A49; }
          .expertise-blocks .expertise-block .expertise-list ul li a:hover svg {
            margin-right: 1.5em; }

.expertise-quote-image-carousel {
  background: #121124;
  color: #FFFFFF;
  padding-top: 0px;
  margin-top: 250px; }
  .expertise-quote-image-carousel .image-list {
    margin-top: -200px;
    border-radius: 12px 0px 0px 12px;
    overflow: hidden;
    position: relative;
    z-index: 5; }
    .expertise-quote-image-carousel .image-list .item {
      height: 500px;
      width: 100%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 12px; }
      .expertise-quote-image-carousel .image-list .item:nth-child(even) {
        margin-top: 50px; }
  .expertise-quote-image-carousel .slick-slide {
    margin: 0 27px; }
    .expertise-quote-image-carousel .slick-slide:focus {
      outline: none; }
  .expertise-quote-image-carousel .slick-list {
    margin: 0 -27px; }
  .expertise-quote-image-carousel .quote-carousel {
    margin-top: 100px;
    position: relative; }
    .expertise-quote-image-carousel .quote-carousel .item .quote {
      font-size: 32px;
      font-weight: 500;
      font-style: italic;
      color: #FFFFFF;
      padding-bottom: 50px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
    .expertise-quote-image-carousel .quote-carousel .item .author {
      margin-top: 50px; }
      .expertise-quote-image-carousel .quote-carousel .item .author .h4 {
        color: #FFFFFF;
        font-size: 24px; }
    .expertise-quote-image-carousel .quote-carousel .slick-arrow {
      color: #FFFFFF;
      position: absolute;
      bottom: 50px;
      right: 0px;
      font-size: 20px; }
      .expertise-quote-image-carousel .quote-carousel .slick-arrow.slick-prev {
        right: 50px; }

@media only screen and (max-width: 90rem) {
  .expertise-quote-image-carousel .container-fluid {
    padding: 0px; }
  .expertise-quote-image-carousel .image-list {
    margin-top: -120px; }
    .expertise-quote-image-carousel .image-list .item {
      height: 50vh; }
      .expertise-quote-image-carousel .image-list .item:nth-child(even) {
        margin-top: 30px; }
  .expertise-quote-image-carousel .quote-carousel {
    margin-top: 100px;
    position: relative;
    padding: 0px 25px; }
    .expertise-quote-image-carousel .quote-carousel .item .quote {
      font-size: 24px; }
    .expertise-quote-image-carousel .quote-carousel .item .author .h4 {
      font-size: 20px; }
    .expertise-quote-image-carousel .quote-carousel .slick-arrow {
      right: 25px; }
      .expertise-quote-image-carousel .quote-carousel .slick-arrow.slick-prev {
        right: 75px; } }
.hero-expertise-detail {
  min-height: 60vh;
  background: #121124; }
  .hero-expertise-detail .content {
    color: #FFFFFF;
    padding-top: 250px; }
    .hero-expertise-detail .content h1 {
      color: #FFFFFF; }

@media only screen and (max-width: 90rem) {
  .hero-expertise-detail .content {
    padding-top: 100px; } }
.content-expertise-detail .expertise-sidebar {
  margin-top: 20px;
  padding: 30px 30px 0px 30px;
  border-radius: 12px;
  border: 1px solid #EBEBEB; }
  .content-expertise-detail .expertise-sidebar .inner .heading h4 {
    font-size: 32px;
    margin-bottom: 20px; }
  .content-expertise-detail .expertise-sidebar .inner .contact ul {
    list-style: none;
    margin: 1.5em 0 0 0;
    padding: 0px; }
    .content-expertise-detail .expertise-sidebar .inner .contact ul li {
      margin: 1em 0; }
      .content-expertise-detail .expertise-sidebar .inner .contact ul li a {
        transition: ease .5s; }
        .content-expertise-detail .expertise-sidebar .inner .contact ul li a svg {
          transition: ease .5s;
          color: #E62A49;
          margin-right: 1em; }
        .content-expertise-detail .expertise-sidebar .inner .contact ul li a:hover {
          color: #E62A49; }
          .content-expertise-detail .expertise-sidebar .inner .contact ul li a:hover svg {
            margin-right: 1.5em; }
  .content-expertise-detail .expertise-sidebar .inner .image {
    margin-top: 50px;
    text-align: center; }
    .content-expertise-detail .expertise-sidebar .inner .image img {
      max-width: 80%;
      max-height: 300px;
      margin: 0 auto; }

.hero-products {
  min-height: 60vh;
  background: #121124; }
  .hero-products .moving-bg {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-image: url("../../assets/img/branding/wave-03.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transform: scale(1.1); }
  .hero-products .content {
    color: #FFFFFF;
    padding-top: 250px;
    position: relative;
    z-index: 9; }
    .hero-products .content h1 {
      color: #FFFFFF; }

.products-overview {
  padding: 10px 0px; }
  .products-overview .product-item {
    position: relative;
    margin: 80px 0px; }
    .products-overview .product-item:nth-child(even) a {
      justify-content: flex-end; }
      .products-overview .product-item:nth-child(even) a .image {
        left: 0;
        right: auto; }
    .products-overview .product-item a {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 100%; }
      .products-overview .product-item a .image {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 85%;
        overflow: hidden;
        border-radius: 12px;
        display: flex;
        align-items: center; }
        .products-overview .product-item a .image img {
          width: 100%;
          object-fit: cover; }
      .products-overview .product-item a .content-box {
        margin: 120px 0px;
        background: #FFFFFF;
        border-radius: 12px;
        box-shadow: 0px 0px 30px rgba(18, 17, 36, 0.2);
        padding: 50px 30px;
        position: relative;
        z-index: 10; }
        .products-overview .product-item a .content-box .title {
          max-width: 80%;
          font-size: 38px;
          line-height: 38px; }
          .products-overview .product-item a .content-box .title span {
            color: #E62A49; }
        .products-overview .product-item a .content-box .caption {
          margin-bottom: 30px; }
        .products-overview .product-item a .content-box .arrow svg {
          color: #E62A49; }

.hero-products-detail {
  min-height: 60vh;
  background: #121124; }
  .hero-products-detail .content {
    color: #FFFFFF;
    padding-top: 150px;
    margin-bottom: 100px; }
    .hero-products-detail .content h1 {
      color: #FFFFFF; }

.products-detail-image .image {
  margin-top: -200px; }
  .products-detail-image .image img {
    width: 100%;
    border-radius: 12px; }

.products-detail-main-content {
  padding-top: 0; }
  .products-detail-main-content .row h2 {
    display: block;
    width: 100%;
    margin-top: 1em; }
  .products-detail-main-content .products-detail-features ul {
    list-style: none;
    margin: 0 0 2em 0;
    padding: 0; }
    .products-detail-main-content .products-detail-features ul li {
      margin-bottom: 1em; }
      .products-detail-main-content .products-detail-features ul li::before {
        content: ''; }
  .products-detail-main-content .products-detail-standards .box {
    border: 1px solid #EBEBEB;
    border-radius: 12px;
    padding: 30px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%; }
    .products-detail-main-content .products-detail-standards .box .image {
      width: 350px; }
      .products-detail-main-content .products-detail-standards .box .image img {
        width: 100%; }
    .products-detail-main-content .products-detail-standards .box .description {
      padding-left: 50px;
      width: calc(100% - 350px); }
      .products-detail-main-content .products-detail-standards .box .description p {
        margin-top: 0;
        margin-bottom: 0; }
  .products-detail-main-content .products-detail-downloads ul {
    list-style: none;
    margin: 0 0 2em 0;
    padding: 0;
    width: 100%; }
    .products-detail-main-content .products-detail-downloads ul li {
      border-bottom: 1px solid #EBEBEB;
      display: block;
      width: 100%; }
      .products-detail-main-content .products-detail-downloads ul li a {
        padding: 1.5em 0;
        display: block;
        font-weight: 500;
        display: flex;
        justify-content: space-between; }
        .products-detail-main-content .products-detail-downloads ul li a svg {
          color: #E62A49;
          margin-right: 1.5em; }
      .products-detail-main-content .products-detail-downloads ul li:first-child {
        border-top: 1px solid #EBEBEB; }
  .products-detail-main-content .products-detail-sidebar {
    margin-top: 20px;
    padding: 30px 30px 0px 30px;
    border-radius: 12px;
    border: 1px solid #EBEBEB; }
    .products-detail-main-content .products-detail-sidebar .inner .heading h4 {
      font-size: 32px;
      margin-bottom: 20px; }
    .products-detail-main-content .products-detail-sidebar .inner .contact ul {
      list-style: none;
      margin: 1.5em 0 0 0;
      padding: 0px; }
      .products-detail-main-content .products-detail-sidebar .inner .contact ul li {
        margin: 1em 0; }
        .products-detail-main-content .products-detail-sidebar .inner .contact ul li a {
          transition: ease .5s; }
          .products-detail-main-content .products-detail-sidebar .inner .contact ul li a svg {
            transition: ease .5s;
            color: #E62A49;
            margin-right: 1em; }
          .products-detail-main-content .products-detail-sidebar .inner .contact ul li a:hover {
            color: #E62A49; }
            .products-detail-main-content .products-detail-sidebar .inner .contact ul li a:hover svg {
              margin-right: 1.5em; }
    .products-detail-main-content .products-detail-sidebar .inner .image {
      margin-top: 50px;
      text-align: center; }
      .products-detail-main-content .products-detail-sidebar .inner .image img {
        max-width: 80%;
        max-height: 300px;
        margin: 0 auto; }

.products-detail-featured-cases {
  background: #121124; }
  .products-detail-featured-cases .heading h3 {
    color: #FFFFFF;
    margin-bottom: 1.5em; }
    .products-detail-featured-cases .heading h3 span {
      color: #E62A49; }
  .products-detail-featured-cases .slide-info {
    color: #E62A49;
    position: absolute;
    right: 15%;
    top: 250px; }
  .products-detail-featured-cases .cases-list .item {
    position: relative; }
    .products-detail-featured-cases .cases-list .item:focus {
      outline: none; }
    .products-detail-featured-cases .cases-list .item .content h3 {
      color: #FFFFFF; }
    .products-detail-featured-cases .cases-list .item .content p {
      color: #FFFFFF; }
    .products-detail-featured-cases .cases-list .item .content .btn {
      margin-top: 20px; }
  .products-detail-featured-cases .cases-list .slick-dots {
    display: none !important; }
  .products-detail-featured-cases .cases-list .slick-arrow {
    color: #FFFFFF;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 20px; }
    .products-detail-featured-cases .cases-list .slick-arrow.slick-prev {
      right: 50px; }

.hero-cases {
  min-height: 60vh;
  background: #121124; }
  .hero-cases .moving-bg {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-image: url("../../assets/img/branding/wave-02.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transform: scale(1.1); }
  .hero-cases .content {
    color: #FFFFFF;
    padding-top: 150px;
    position: relative;
    z-index: 9; }
    .hero-cases .content h1 {
      color: #FFFFFF; }

@media screen and (min-width: 1200px) {
  .hero-cases .content {
    padding-top: 250px; } }
.cases-overview {
  background-color: #121124; }
  .cases-overview .cases-overview-list .item {
    padding: 50px 0px; }
    .cases-overview .cases-overview-list .item .image {
      margin-bottom: 30px; }
    .cases-overview .cases-overview-list .item .content {
      margin-bottom: 30px; }
      .cases-overview .cases-overview-list .item .content h3 {
        color: #FFFFFF; }
      .cases-overview .cases-overview-list .item .content p {
        color: #FFFFFF; }
      .cases-overview .cases-overview-list .item .content .btn {
        margin-top: 20px; }
  .cases-overview .cases-nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    right: 0;
    bottom: 0;
    width: 10%; }
    .cases-overview .cases-nav ul {
      list-style: none;
      margin: 0;
      padding: 0; }
      .cases-overview .cases-nav ul li a {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 10px 0px; }
        .cases-overview .cases-nav ul li a span {
          visibility: hidden;
          color: #FFF;
          margin-right: 20px; }
        .cases-overview .cases-nav ul li a::after {
          content: '';
          width: 30px;
          height: 2px;
          background: #FFFFFF; }
        .cases-overview .cases-nav ul li a:hover span {
          visibility: visible; }
        .cases-overview .cases-nav ul li a:hover::after {
          background: #E62A49; }

@media screen and (min-width: 992px) {
  .cases-overview .cases-overview-list .item .image {
    margin-bottom: 0px; }
  .cases-overview .cases-overview-list .item .content {
    margin-bottom: 0px; } }
.cases-clients-overview .cases-clients-overview-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start; }
  .cases-clients-overview .cases-clients-overview-list .item {
    width: 50%;
    margin: 20px 0px; }
    .cases-clients-overview .cases-clients-overview-list .item .inner {
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center; }
      .cases-clients-overview .cases-clients-overview-list .item .inner img {
        width: 100%;
        filter: grayscale(100%);
        opacity: .5; }

@media screen and (min-width: 992px) {
  .cases-clients-overview .cases-clients-overview-list .item {
    width: 20%; }
    .cases-clients-overview .cases-clients-overview-list .item .inner {
      padding: 20px 30px; } }
.hero-cases-detail {
  min-height: 100vh;
  background: #121124; }
  .hero-cases-detail .content {
    color: #FFFFFF;
    padding-top: 150px; }
    .hero-cases-detail .content:nth-child(1) {
      padding-top: 50px; }
    .hero-cases-detail .content h1 {
      color: #FFFFFF; }
    .hero-cases-detail .content .link-list-intern {
      display: none;
      margin: 50px 0px 0px 0px; }
      .hero-cases-detail .content .link-list-intern ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center; }
        .hero-cases-detail .content .link-list-intern ul li {
          margin: .5em 0; }
          .hero-cases-detail .content .link-list-intern ul li a svg {
            color: #E62A49;
            margin-right: 1em; }
    .hero-cases-detail .content .specs ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column; }
      .hero-cases-detail .content .specs ul li {
        margin: 0px 0px 30px 0px; }
        .hero-cases-detail .content .specs ul li .title {
          font-family: upgrade, sans-serif;
          font-weight: 500;
          font-size: 1em; }

@media screen and (min-width: 768px) {
  .hero-cases-detail .content .link-list-intern ul {
    flex-direction: row; }
    .hero-cases-detail .content .link-list-intern ul li {
      margin: 0 3em 0 0; }
  .hero-cases-detail .content .specs ul {
    flex-direction: row; }
    .hero-cases-detail .content .specs ul li {
      width: 33%; } }
@media screen and (min-width: 1200px) {
  .hero-cases-detail {
    min-height: 100vh;
    background: #121124; }
    .hero-cases-detail .content {
      padding-top: 250px; }
      .hero-cases-detail .content:nth-child(1) {
        padding-top: 250px; }
      .hero-cases-detail .content .link-list-intern {
        display: block; }
      .hero-cases-detail .content .specs ul {
        flex-direction: column; }
        .hero-cases-detail .content .specs ul li {
          width: 100%; } }
.cases-detail-main-image .image {
  margin-top: -0px; }
  .cases-detail-main-image .image img {
    width: 100%;
    border-radius: 12px; }

@media screen and (min-width: 1200px) {
  .cases-detail-main-image .image {
    margin-top: -150px; } }
.cases-detail-impression {
  background: #121124;
  margin-bottom: 300px; }
  .cases-detail-impression .video-wrapper {
    height: 80vh;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: -300px; }
    .cases-detail-impression .video-wrapper .video-play {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 9; }
      .cases-detail-impression .video-wrapper .video-play a {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column; }
        .cases-detail-impression .video-wrapper .video-play a .video-play-button {
          color: #FFFFFF;
          font-size: 2em;
          background: transparent;
          border: 2px solid #E62A49;
          width: 100px;
          height: 100px;
          border-radius: 100px;
          display: flex;
          align-items: center;
          justify-content: center;
          animation: pulse 2s infinite; }
        .cases-detail-impression .video-wrapper .video-play a .video-play-text {
          margin-top: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column; }
          .cases-detail-impression .video-wrapper .video-play a .video-play-text .title {
            font-family: upgrade, sans-serif;
            font-weight: 500;
            font-size: 2em;
            color: #FFF; }
    .cases-detail-impression .video-wrapper::after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #121124;
      opacity: .8;
      z-index: 1; }

.cases-detail-gallery-quote {
  background: #121124;
  color: #FFFFFF;
  padding-top: 0px;
  margin-top: 250px; }
  .cases-detail-gallery-quote .image-list {
    margin-top: -200px;
    border-radius: 12px 0px 0px 12px;
    overflow: hidden;
    position: relative;
    z-index: 5; }
    .cases-detail-gallery-quote .image-list .item {
      height: 500px;
      width: 100%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 12px; }
      .cases-detail-gallery-quote .image-list .item:nth-child(even) {
        margin-top: 50px; }
  .cases-detail-gallery-quote .slick-slide {
    margin: 0 27px; }
    .cases-detail-gallery-quote .slick-slide:focus {
      outline: none; }
  .cases-detail-gallery-quote .slick-list {
    margin: 0 -27px; }
  .cases-detail-gallery-quote .quote-carousel {
    margin-top: 100px;
    position: relative; }
    .cases-detail-gallery-quote .quote-carousel .item .quote {
      font-size: 32px;
      font-weight: 500;
      font-style: italic;
      color: #FFFFFF;
      padding-bottom: 50px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
    .cases-detail-gallery-quote .quote-carousel .item .author {
      margin-top: 50px; }
      .cases-detail-gallery-quote .quote-carousel .item .author .h4 {
        color: #FFFFFF;
        font-size: 24px; }
    .cases-detail-gallery-quote .quote-carousel .slick-arrow {
      color: #FFFFFF;
      position: absolute;
      bottom: 50px;
      right: 0px;
      font-size: 20px; }
      .cases-detail-gallery-quote .quote-carousel .slick-arrow.slick-prev {
        right: 50px; }

.cases-detail-result .result-boxes {
  margin: 50px 0px; }
  .cases-detail-result .result-boxes .box {
    border: 1px solid #EBEBEB;
    border-radius: 12px;
    padding: 60px 40px;
    margin: 10px 0px; }
    .cases-detail-result .result-boxes .box .title {
      font-family: upgrade, sans-serif;
      font-weight: 500;
      font-size: 2.5em; }

.hero-stories {
  min-height: 100vh;
  background: #121124; }
  .hero-stories .moving-bg {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-image: url("../../assets/img/branding/wave-02.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transform: scale(1.1); }
  .hero-stories .content {
    color: #FFFFFF;
    padding-top: 250px;
    position: relative;
    z-index: 9; }
    .hero-stories .content h1 {
      color: #FFFFFF; }

.stories-overview .stories-overview-list {
  margin-top: -300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  z-index: 9; }
  .stories-overview .stories-overview-list .item {
    position: relative;
    width: 47%;
    border-radius: 12px;
    margin-bottom: 80px;
    min-height: 60vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden; }
    .stories-overview .stories-overview-list .item a {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%; }
      .stories-overview .stories-overview-list .item a .caption {
        position: absolute;
        left: 0px;
        bottom: 0px;
        padding: 30px; }
        .stories-overview .stories-overview-list .item a .caption .title {
          font-family: upgrade, sans-serif;
          font-weight: 500;
          font-size: 1.8em;
          color: #FFF; }
        .stories-overview .stories-overview-list .item a .caption .arrow {
          margin-top: 15px; }
          .stories-overview .stories-overview-list .item a .caption .arrow svg {
            color: #E62A49; }
    .stories-overview .stories-overview-list .item::after {
      content: '';
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: block;
      background: linear-gradient(to top, #121124, rgba(18, 17, 36, 0));
      width: 100%;
      height: 100%;
      z-index: 1; }

.hero-stories-detail {
  min-height: 60vh;
  background: #121124; }
  .hero-stories-detail .content {
    color: #FFFFFF;
    padding-top: 250px; }
    .hero-stories-detail .content h1 {
      color: #FFFFFF;
      font-size: 3.3em; }

.stories-detail-content .stories-detail-sidebar {
  margin-top: 20px;
  padding: 30px 30px 0px 30px;
  border-radius: 12px;
  border: 1px solid #EBEBEB; }
  .stories-detail-content .stories-detail-sidebar .inner .heading h4 {
    font-size: 32px;
    margin-bottom: 20px; }
  .stories-detail-content .stories-detail-sidebar .inner .contact ul {
    list-style: none;
    margin: 1.5em 0 0 0;
    padding: 0px; }
    .stories-detail-content .stories-detail-sidebar .inner .contact ul li {
      margin: 1em 0; }
      .stories-detail-content .stories-detail-sidebar .inner .contact ul li a {
        transition: ease .5s; }
        .stories-detail-content .stories-detail-sidebar .inner .contact ul li a svg {
          transition: ease .5s;
          color: #E62A49;
          margin-right: 1em; }
        .stories-detail-content .stories-detail-sidebar .inner .contact ul li a:hover {
          color: #E62A49; }
          .stories-detail-content .stories-detail-sidebar .inner .contact ul li a:hover svg {
            margin-right: 1.5em; }
  .stories-detail-content .stories-detail-sidebar .inner .image {
    margin-top: 50px;
    text-align: center; }
    .stories-detail-content .stories-detail-sidebar .inner .image img {
      max-width: 80%;
      max-height: 300px;
      margin: 0 auto; }

.hero-jobs {
  min-height: 60vh;
  background: #121124; }
  .hero-jobs .content {
    color: #FFFFFF;
    padding-top: 250px; }
    .hero-jobs .content h1 {
      color: #FFFFFF; }
  .hero-jobs .moving-bg {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-image: url("../../assets/img/branding/wave-01.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transform: scale(1.1); }

@media only screen and (max-width: 90rem) {
  .hero-jobs .content {
    padding-top: 100px; } }
.jobs-overview .job-list {
  position: relative;
  z-index: 9; }
  .jobs-overview .job-list .item {
    box-shadow: 0px 0px 30px rgba(18, 17, 36, 0.2);
    border-radius: 12px;
    margin: 20px 0px; }
    .jobs-overview .job-list .item a {
      display: block;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 40px;
      box-sizing: border-box; }
      .jobs-overview .job-list .item a .inner {
        display: flex;
        justify-content: space-between;
        width: 90%;
        align-items: center; }
        .jobs-overview .job-list .item a .inner .title {
          font-weight: 500;
          font-size: 1.5em; }
        .jobs-overview .job-list .item a .inner .details span {
          margin-right: 30px; }
      .jobs-overview .job-list .item a .arrow svg {
        color: #E62A49; }

.hero-jobs-detail {
  min-height: 60vh;
  background: #121124; }
  .hero-jobs-detail .content {
    color: #FFFFFF;
    padding-top: 250px; }
    .hero-jobs-detail .content h1 {
      color: #FFFFFF; }

@media only screen and (max-width: 90rem) {
  .hero-jobs .content {
    padding-top: 100px; } }
.jobs-detail-main-content .row {
  margin-bottom: 40px; }
.jobs-detail-main-content ul {
  line-height: 2em; }

.hero-contact {
  min-height: 100vh;
  background: #121124; }
  .hero-contact .content {
    color: #FFFFFF;
    padding-top: 150px; }
    .hero-contact .content h1 {
      color: #FFFFFF; }
    .hero-contact .content h4 {
      color: #E62A49;
      font-size: 1.5em;
      margin-top: 30px; }
    .hero-contact .content ul {
      list-style: none;
      margin: 0px;
      padding: 0px;
      line-height: 2em; }
      .hero-contact .content ul li a svg {
        margin-right: 15px;
        color: #E62A49; }

.contact-image-quote-full {
  background-color: #FFFFFF; }
  .contact-image-quote-full .container-fluid {
    padding-right: 0px; }
  .contact-image-quote-full .image {
    border-radius: 12px 0px 0px 12px;
    height: 80vh;
    margin-top: -100px;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center; }
    .contact-image-quote-full .image .content {
      position: absolute;
      left: 25px;
      bottom: 25px;
      z-index: 50;
      max-width: 800px;
      width: 80%; }
      .contact-image-quote-full .image .content .quote {
        font-size: 24px;
        font-weight: 500;
        font-style: italic;
        color: #FFFFFF; }
    .contact-image-quote-full .image::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(to top, #121124 0%, transparent 100%); }

@media screen and (min-width: 1200px) {
  .contact-image-quote-full .image {
    margin-top: -250px; }
    .contact-image-quote-full .image .content {
      right: 25px;
      left: 50px;
      bottom: 50px; }
      .contact-image-quote-full .image .content .quote {
        font-size: 40px; } }
.hero-group {
  min-height: 60vh;
  background: #121124; }
  .hero-group .content {
    color: #FFFFFF;
    padding-top: 250px;
    position: relative;
    z-index: 9; }
    .hero-group .content h1 {
      color: #FFFFFF; }
  .hero-group .moving-bg {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-image: url("../../assets/img/branding/wave-01.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transform: scale(1.1); }

@media only screen and (max-width: 90rem) {
  .hero-group .content {
    padding-top: 100px; } }
.group-overview {
  background: #121124;
  padding-top: 0px; }
  .group-overview .companies-list {
    display: flex;
    flex-direction: column;
    z-index: 9;
    position: relative; }
    .group-overview .companies-list .item {
      background: #FFFFFF;
      border-radius: 12px;
      box-shadow: 0px 0px 30px rgba(18, 17, 36, 0.2);
      width: 100%;
      margin-bottom: 40px; }
      .group-overview .companies-list .item a {
        display: block; }
        .group-overview .companies-list .item a .inner {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          padding: 15px 30px; }
          .group-overview .companies-list .item a .inner .image {
            width: 25%; }
            .group-overview .companies-list .item a .inner .image img {
              width: 100%; }
          .group-overview .companies-list .item a .inner .payoff {
            width: 50%;
            padding-left: 50px; }
          .group-overview .companies-list .item a .inner .arrow {
            width: 25%;
            display: flex;
            justify-content: flex-end; }
            .group-overview .companies-list .item a .inner .arrow svg {
              color: #E62A49; }
  .group-overview .group-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px; }
    .group-overview .group-button span {
      color: #FFF;
      font-weight: 500;
      font-size: 2em;
      margin-bottom: 30px; }

.hero-static-pages {
  min-height: 50vh;
  background: #121124; }
  .hero-static-pages .content {
    color: #FFFFFF;
    padding-top: 150px; }
    .hero-static-pages .content h1 {
      color: #FFFFFF;
      font-size: 2.5em; }

@media screen and (min-width: 1200px) {
  .hero-static-pages .content h1 {
    font-size: 4em; } }
.not-found-content {
  background: url("../../assets/img/branding/jungle.jpg");
  position: relative;
  min-height: 100vh; }
  .not-found-content .content {
    position: relative;
    z-index: 9;
    padding-top: 250px; }
    .not-found-content .content h1 {
      color: #FFFFFF; }
    .not-found-content .content p {
      color: #FFFFFF;
      font-size: 2em; }
    .not-found-content .content .btn {
      margin-top: 20px; }
  .not-found-content .absolute-image {
    position: absolute;
    right: 0;
    bottom: -6px;
    max-width: 900px;
    width: 100%;
    z-index: 9; }
  .not-found-content::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #121124;
    opacity: .8;
    z-index: 1; }

/* Themes */
/* Vendors */
