.hero-expertise-detail {
    min-height: 60vh;
    background: $color-primary;

    .content {
        color: $color-white;
        padding-top: 250px;

        h1 {
            color: $color-white;
        }
    }
}

@media #{$breakpoint-md-down} { 
    .hero-expertise-detail {
        
        .content {
            padding-top: 100px;
        }
    }

}