.cases-detail-main-image {
    .image {
        margin-top: -0px;
        
        img {
            width: 100%;
            border-radius: 12px;
        }
    }
}

@media screen and (min-width: $break-lg) {
    .cases-detail-main-image {
        .image {
            margin-top: -150px;
        }
    }
}
