.cases-detail-impression {
    background: $color-primary;
    margin-bottom: 300px;

    .video-wrapper {
        height: 80vh;
        border-radius: 12px;
        overflow: hidden;
        position: relative;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin-bottom: -300px;

        .video-play {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 9;

            a {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                .video-play-button {
                    color: $color-white;
                    font-size: 2em;
                    background: transparent;
                    border: 2px solid $color-accent;
                    width: 100px;
                    height: 100px;
                    border-radius: 100px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    animation: pulse 2s infinite;
                }
    
    
                .video-play-text {
                    margin-top: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
    
                    .subtitle {
                        
                    }
                    .title {
                        font-family: upgrade, sans-serif;
                        font-weight: 500;
                        font-size: 2em;
                        color: #FFF;
                    }
                }
            }
        }

        &::after {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: $color-primary;
            opacity: .8;
            z-index: 1;

        }

    }
}