.cases-detail-result {

    .result-boxes {
        margin: 50px 0px;

        .box {
            border: 1px solid $border-color-light;
            border-radius: 12px;
            padding: 60px 40px;
            margin: 10px 0px;

            .subtitle {
                
            }

            .title {
                font-family: upgrade, sans-serif;
                font-weight: 500;
                font-size: 2.5em;
            }

        }
    }
}