
.cases-detail-gallery-quote {
    background: $color-primary;
    color: $color-white;
    padding-top: 0px;
    margin-top: 250px;

    .image-list {
        margin-top: -200px;
        border-radius: 12px 0px 0px 12px;
        overflow: hidden;
        position: relative;
        z-index: 5;

        .item {
            height: 500px;
            width: 100%;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            border-radius: 12px;

            &:nth-child(even) {
                margin-top: 50px;
            }
        }
    }

    .slick-slide {
        margin: 0 27px;

        &:focus {
            outline: none;
        }
    }
  
    .slick-list {
        margin: 0 -27px;
    }

    .quote-carousel {
        margin-top: 100px;
        position: relative;

        .item {

            .quote {
                font-size: 32px;
                font-weight: $font-weight-bold;
                font-style: italic;
                color: $color-white;
                padding-bottom: 50px;
                border-bottom: 1px solid (rgba(255,255,255,.1));
            }

            .author {
                margin-top: 50px;

                .h4 {
                    color: $color-white;
                    font-size: 24px;
                }
            }
        }
    
        .slick-arrow {
            color: $color-white;
            position: absolute;
            bottom: 50px;
            right: 0px;
            font-size: 20px;
    
            &.slick-prev {
                right: 50px;
            }
        }
    }
}