.hero-cases-detail {
    min-height: 100vh;
    background: $color-primary;

    .content {
        color: $color-white;
        padding-top: 150px;

        &:nth-child(1) {
            padding-top: 50px;
        }

        h1 {
            color: $color-white;
        }

        .link-list-intern {
            display: none;
            margin: 50px 0px 0px 0px;

            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;

                li {
                    margin: .5em 0;

                    a {
                        svg {
                            color: $color-accent;
                            margin-right: 1em;
                        }
                    }
                }
            }
        }


        .specs {

            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                display: flex;
                flex-direction: column;


                li {
                    margin: 0px 0px 30px 0px;

                    .title {
                        font-family: upgrade, sans-serif;
                        font-weight: 500;
                        font-size: 1em;
                    }
                }
            }
        }
    }
}


@media screen and (min-width: $break-sm) {
    .hero-cases-detail {
        
        .content {

            .link-list-intern {

                ul {
                    flex-direction: row;

                    li {
                        margin: 0 3em 0 0;

                    }
                }
            }


            .specs {

                ul {
                    flex-direction: row;

                    li {
                        width: 33%;
                    }
                }
            }
        }
    }
}


@media screen and (min-width: $break-lg) {
    .hero-cases-detail {
        min-height: 100vh;
        background: $color-primary;
    
        .content {
            padding-top: 250px;

            &:nth-child(1) {
                padding-top: 250px;
            }

            .link-list-intern {
                display: block;
            }

            .specs {

                ul {
                    flex-direction: column;

                    li {
                        width: 100%;
                    }
                }
                
            }
        }
    }
}