description = "Group overview"
==

<section class="group-overview">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-offset-1 col-lg-6 col-xl-offset-3 col-xl-5">
                <div class="companies-list">
                    <div class="item">
                        <a href="#">
                            <div class="inner">
                                <div class="image">
                                    <img src="http://placehold.it/200x75" alt="">
                                </div>
                                <div class="payoff">
                                    <span>Microsoft maatwerk development</span>
                                </div>
                                <div class="arrow">
                                    <i class="far fa-arrow-right"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <div class="inner">
                                <div class="image">
                                    <img src="http://placehold.it/200x75" alt="">
                                </div>
                                <div class="payoff">
                                    <span>Digital Commerce</span>
                                </div>
                                <div class="arrow">
                                    <i class="far fa-arrow-right"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <div class="inner">
                                <div class="image">
                                    <img src="http://placehold.it/200x75" alt="">
                                </div>
                                <div class="payoff">
                                    <span>Digital Commerce</span>
                                </div>
                                <div class="arrow">
                                    <i class="far fa-arrow-right"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <div class="inner">
                                <div class="image">
                                    <img src="http://placehold.it/200x75" alt="">
                                </div>
                                <div class="payoff">
                                    <span>Digital Commerce</span>
                                </div>
                                <div class="arrow">
                                    <i class="far fa-arrow-right"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <div class="inner">
                                <div class="image">
                                    <img src="http://placehold.it/200x75" alt="">
                                </div>
                                <div class="payoff">
                                    <span>Digital Commerce</span>
                                </div>
                                <div class="arrow">
                                    <i class="far fa-arrow-right"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-offset-1 col-lg-6 col-xl-offset-3 col-xl-5">
                <div class="group-button">
                    <span>Meer weten over de Sycade Group?</span>
                    <a href="https://www.sycadegroup.com" class="btn btn-primary" target="_blank">Ga naar de website</a>
                </div>
            </div>
        </div>
    </div>
</section>