description = "Hero Group"
==

<section class="hero-group">
    <div class="moving-bg"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-offset-1 col-lg-6 col-xl-offset-3 col-xl-5">
                <div class="content">
                    <div class="subtitle">Proudly part of the</div>
                    <h1>Sycade Group</h1>
                    <p>De Sycade Group staat voor een innovatief ecosysteem van specialistische bedrijven binnen de IT. Elk bedrijf heeft zijn eigen expertise, door een sterke synergie zijn we in staat om met de Sycade Group bedrijven volledig te ontzorgen op elk IT vraagstuk.</p>
                </div>
            </div>
        </div>
    </div>
    {% partial 'theme-sidenotes/scroll-down' %}
</section>