description = "Footer"
==


<footer class="footer">
    <div class="footer-top">
        <div class="container-fluid">
            <div class="row top-lg">
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 col-lg-offset-1">
                    <div class="footer-title">
                        Klaar voor een IT boost?
                        <span>OKE Online helpt je graag verder</span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 end-md col-lg-3 col-lg-offset-1 end-lg">
                    <a href="#" class="btn btn-primary">Contact opnemen</a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-center">
        <div class="container-fluid">
            <div class="row middle-lg">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7 col-lg-offset-1">
                    <ul class="contact">
                        <li>Spoelstraat 7B, 8281 JT Genemuiden</li>
                        <li><a href="#">info@okeonline.nl</a></li>
                        <li><a href="#">038 - 303 29 00</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2 col-lg-offset-1">
                    <ul class="social end-lg">
                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
                    <ul class="copyright">
                        <li>© Copyright Sycade, Alle rechten voorbehouden</li>
                        <li><a href="#">Algemene voorwaarden</a></li>
                        <li><a href="#">Privacyverklaring</a></li>
                    </ul>   
                </div>  
            </div>
        </div>
    </div>
</footer>