description = "Header"

[staticMenu mainMenu]
code = "main-menu"

[viewBag]
==
<header>
    <div class="container-fluid">
        <div class="row middle-xs">
            <div class="col-xs-8 col-sm-6 col-md-4 col-lg-3 col-xl-2 animated-grow-fade-in">
                <div class="logo">
                    <a href="{{ 'home' | page }}">
                        <img src="{{ 'assets/img/dev/logo.svg' | theme }}" alt="">
                    </a>
                </div>
            </div>
            <div class="col-xs-4 col-sm-6 col-md-8 col-lg-9 col-xl-8 animated-grow-fade-in">
                <div class="desktop-navigation hidden-xs hidden-sm hidden-md">
                    <nav>
                        {% component 'mainMenu' %}
                    </nav>
                </div>
                <div class="mobile-navigation hidden-lg hidden-xl">
                    <div class="hamburger">  
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
            <div class="hidden-xs hidden-sm hidden-md hidden-lg col-xl-2 animated-grow-fade-in">
                <div class="cta-button end-xs">
                    <a href="#" class="btn btn-primary">e-commerce scan</a>
                </div>
            </div>
        </div>
    </div>
</header>