description = "Head"
==

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="true" />
<title>{{ this.page.title }}</title>

<!-- TODO: Klaas, Meta invullen door middel van Arcane SEO -->

<!-- Favicon -->

<!-- Fonts -->
<link rel="stylesheet" href="https://use.typekit.net/grq3vpv.css">

<!-- Stylesheets -->
<link rel="stylesheet" href="https://unpkg.com/flexboxgrid2@7.2.1/flexboxgrid2.css">
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="{{ 'assets/css/animsition.min.css' | theme }}" />
<link rel="stylesheet" href="{{ 'assets/css/main.css' | theme }}">

<!-- Scripts -->
<script src="https://kit.fontawesome.com/ebff953cb8.js" crossorigin="anonymous"></script>