description = "Menu overlay"

[staticMenu mainMenu]
code = "main-menu"

[viewBag]

==

<div class="menu-overlay">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <nav class="menu-overlay-nav">
                    {% component 'mainMenu' %}
                </nav>
            </div>
        </div>
    </div>
</div>