[viewBag]

[uploadForm]
group = "Jobs"
messages_success = "Your form was successfully submitted"
messages_errors = "There were errors with your submission"
inline_errors = "disabled"
sanitize_data = "disabled"
anonymize_ip = "disabled"
recaptcha_enabled = 0
recaptcha_theme = "light"
recaptcha_type = "image"
recaptcha_size = "normal"
emails_date_format = "Y-m-d"
uploader_enable = 1
uploader_multi = 1
placeholderText = "Click or drag files to upload"
removeText = "Are you sure ?"
maxSize = 5
fileTypes[] = "jpg"
fileTypes[] = "jpeg"
fileTypes[] = "bmp"
fileTypes[] = "png"
fileTypes[] = "webp"
fileTypes[] = "gif"
fileTypes[] = "js"
fileTypes[] = "map"
fileTypes[] = "ico"
fileTypes[] = "css"
fileTypes[] = "less"
fileTypes[] = "scss"
fileTypes[] = "ics"
fileTypes[] = "odt"
fileTypes[] = "doc"
fileTypes[] = "docx"
fileTypes[] = "ppt"
fileTypes[] = "pptx"
fileTypes[] = "pdf"
fileTypes[] = "swf"
fileTypes[] = "txt"
fileTypes[] = "xml"
fileTypes[] = "ods"
fileTypes[] = "xls"
fileTypes[] = "xlsx"
fileTypes[] = "eot"
fileTypes[] = "woff"
fileTypes[] = "woff2"
fileTypes[] = "ttf"
fileTypes[] = "flv"
fileTypes[] = "wmv"
fileTypes[] = "mp3"
fileTypes[] = "ogg"
fileTypes[] = "wav"
fileTypes[] = "avi"
fileTypes[] = "mov"
fileTypes[] = "mp4"
fileTypes[] = "mpeg"
fileTypes[] = "webm"
fileTypes[] = "mkv"
fileTypes[] = "rar"
fileTypes[] = "xml"
fileTypes[] = "zip"
==
{{ form_ajax(uploadForm ~ '::onFormSubmit') }}

    <div id="{{ uploadForm }}_forms_flash"></div>

    <div class="form-group">
        <label for="firstname">Je voornaam:</label>
        <input type="text" id="firstname" name="firstname" class="form-control">
    </div>

    <div class="form-group">
        <label for="lastname">Je achternaam:</label>
        <input type="text" id="lastname" name="lastname" class="form-control">
    </div>

    <div class="form-group">
        <label for="email">Je e-mailadres:</label>
        <input type="email" id="email" name="email" class="form-control">
    </div>

    <div class="form-group">
        <label for="phone">Je telefoonnummer:</label>
        <input type="text" id="phone" name="phone" class="form-control">
    </div>

    <hr>

    <div class="form-group">
        <h4>Upload your resume</h4>
        {% if __SELF__.property('uploader_enable') == 0 %}

    <div style="color:#a94442; background-color:#f2dede; border:solid 1px #ebccd1; border-radius:4px;">
        <h5><strong>Warning</strong></h5>
        <h6>Uploads are disabled.</h6>
        <h6>You need to explicitly enable this option on the component (this is a security measure).</h6>
    </div>

{% else %}

    {% if __SELF__.isMulti %}

    <div
    class="responsiv-uploader-fileupload style-file-multi is-multi {{ __SELF__.isPopulated() ? 'is-populated' }}"
    data-control="fileupload"
    data-template="#uploaderTemplate{{ __SELF__ }}"
    data-unique-id="{{ __SELF__ }}"
    {% if __SELF__.fileTypes %}data-file-types="{{ __SELF__.fileTypes }}"{% endif %}
>

    <!-- Field placeholder -->
    <input type="hidden" name="_uploader[{{ __SELF__.attribute }}]" value="" />

    <!-- Upload Button -->
    <button type="button" class="ui button btn btn-default oc-icon-upload upload-button">
        {{ __SELF__.placeholderText }}
    </button>

    <!-- Existing files -->
    <div class="upload-files-container">
        {% for file in __SELF__.fileList %}
            <div class="upload-object is-success" data-id="{{ file.id }}" data-path="{{ file.pathUrl }}">
                <div class="icon-container">
                    {% if file.isImage %}
                        <img src="{{ file.thumbUrl }}" alt="" />
                    {% else %}
                        <img src="{{ 'plugins/martin/forms/assets/imgs/upload.png'|app }}" alt="" />
                    {% endif %}
                </div>
                <div class="info">
                    <h4 class="filename">
                        <span data-dz-name>{{ file.title ?: file.file_name }}</span>
                    </h4>
                    <p class="size">{{ file.sizeToString }}</p>
                </div>
                <div class="meta">
                    <a
                        href="javascript:;"
                        class="upload-remove-button"
                        data-request="{{ __SELF__ ~ '::onRemoveAttachment' }}"
                        data-request-confirm="{{ __SELF__.removeText }}"
                        data-request-data="file_id: {{ file.id }}"
                        >&times;</a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<!-- Template for new files -->
<script type="text/template" id="uploaderTemplate{{ __SELF__ }}">
    <div class="upload-object dz-preview dz-file-preview">
        <div class="icon-container">
            <img data-dz-thumbnail src="{{ 'plugins/martin/forms/assets/imgs/upload.png'|app }}" />
        </div>
        <div class="info">
            <h4 class="filename">
                <span data-dz-name></span>
            </h4>
            <p class="size" data-dz-size></p>
            <p class="error"><span data-dz-errormessage></span></p>
        </div>
        <div class="meta">
            <a
                href="javascript:;"
                class="upload-remove-button"
                data-request="{{ __SELF__ ~ '::onRemoveAttachment' }}"
                data-request-confirm="{{ __SELF__.removeText }}"
                >&times;</a>
            <div class="progress-bar"><span class="upload-progress" data-dz-uploadprogress></span></div>
        </div>
    </div>
</script>


    {% else %}

    {% set file = __SELF__.singleFile %}

    <div
        class="responsiv-uploader-fileupload style-file-single {{ __SELF__.isPopulated() ? 'is-populated' }}"
        data-control="fileupload"
        data-template="#uploaderTemplate{{ __SELF__ }}"
        data-unique-id="{{ __SELF__ }}"
        {% if __SELF__.fileTypes %}data-file-types="{{ __SELF__.fileTypes }}"{% endif %}
    >
    
        <!-- Field placeholder -->
        <input type="hidden" name="_uploader[{{ __SELF__.attribute }}]" value="" />
    
        <!-- Upload button -->
        <button type="button" class="ui button btn btn-default upload-button">
            Browse
        </button>
    
        <!-- Existing file -->
        <div class="upload-files-container">
            {% if file %}
                <div class="upload-object is-success" data-id="{{ file.id }}" data-path="{{ file.pathUrl }}">
                    <div class="icon-container">
                        {% if file.isImage %}
                            <img src="{{ file.thumbUrl }}" alt="" />
                        {% else %}
                            <img src="{{ 'plugins/martin/forms/assets/imgs/upload.png'|app }}" alt="" />
                        {% endif %}
                    </div>
                    <div class="info">
                        <h4 class="filename">
                            <span data-dz-name>{{ file.title ?: file.file_name }}</span>
                        </h4>
                        <p class="size">{{ file.sizeToString }}</p>
                    </div>
                    <div class="meta">
                        <a
                            href="javascript:;"
                            class="upload-remove-button"
                            data-request="{{ __SELF__ ~ '::onRemoveAttachment' }}"
                            data-request-confirm="Are you sure?"
                            data-request-data="file_id: {{ file.id }}"
                            >&times;</a>
                    </div>
                </div>
            {% endif %}
        </div>
    
        <!-- Empty message -->
        <div class="upload-empty-message">
            <span class="text-muted">{{ __SELF__.placeholderText }}</span>
        </div>
    
    </div>
    
    <!-- Template for new file -->
    <script type="text/template" id="uploaderTemplate{{ __SELF__ }}">
        <div class="upload-object dz-preview dz-file-preview">
            <div class="icon-container">
                <img data-dz-thumbnail />
            </div>
            <div class="info">
                <h4 class="filename">
                    <span data-dz-name></span>
                </h4>
                <p class="size" data-dz-size></p>
                <p class="error"><span data-dz-errormessage></span></p>
            </div>
            <div class="meta">
                <a
                    href="javascript:;"
                    class="upload-remove-button"
                    data-request="{{ __SELF__ ~ '::onRemoveAttachment' }}"
                    data-request-confirm="Are you sure?"
                    >&times;</a>
                <div class="progress-bar"><span class="upload-progress" data-dz-uploadprogress></span></div>
            </div>
        </div>
    </script>
    

    {% endif %}

{% endif %}
    </div>

    <hr>

    <div class="form-group">
        {# {% partial '@recaptcha' %} #}
    </div>

    {{ form_submit() }}

{{ form_close() }}