.group-badge {
    position: fixed;
    bottom: 0px;
    right: 40px;
    width: 150px;
    z-index: 999;

    a {
        margin: 0;
        padding: 0;
        display: block;

        img {
            width: 100%;
            box-shadow: $box-shadow-light;
            position: absolute;
            bottom: 0;
        }
    }
}

@media #{$breakpoint-md-down} {  
    .group-badge {
        display: none;
    }
}