
#pointer-dot {
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    border: 2.5px solid $color-accent;
    position: fixed;
    border-radius: 4px;
    z-index: 10;
    pointer-events: none;
    transition: border-color 0.5s;
}

#pointer-ring {
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    padding: 15px;
    border: 2px solid $color-accent;
    position: fixed;
    border-radius: 100px;
    z-index: 11;
    pointer-events: none;
}

html {
    cursor: none !important;
}

a {
    cursor: none !important;
}