.progress-container {
    width: 100%;
    height: 5px;
    background: transparent;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 99;

    .progress-bar {
        height: 5px;
        background: $color-accent;
        width: 0%;
    }
}