.group-overview {
    background: $color-primary;
    padding-top: 0px;

    .companies-list {
        display: flex;
        flex-direction: column;
        z-index: 9;
        position: relative;

        .item {
            background: $color-white;
            border-radius: 12px;
            box-shadow: $box-shadow-light;
            width: 100%;
            margin-bottom: 40px;

            a {
                display: block;

                .inner {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    padding: 15px 30px;

                    .image {
                        width: 25%;

                        img {
                            width: 100%;
                        }
                    }

                    .payoff {
                        width: 50%;
                        padding-left: 50px;
                    }

                    .arrow {
                        width: 25%;
                        display: flex;
                        justify-content: flex-end;
                        
                        svg {
                            color: $color-accent;
                        }
                    }
                }
            }
        }
    }

    .group-button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 50px;

        span {
            color: #FFF;
            font-weight: $font-weight-bold;
            font-size: 2em;
            margin-bottom: 30px;
        }
    }

}