.not-found-content {
    background: url('../../assets/img/branding/jungle.jpg');
    position: relative;
    min-height: 100vh;

    .content {
        position: relative;
        z-index: 9;
        padding-top: 250px;

        h1 {
            color: $color-white;
        }

        p {
            color: $color-white;
            font-size: 2em;
        }

        .btn {
            margin-top: 20px;
        }
    }

    .absolute-image {
        position: absolute;
        right: 0;
        bottom: -6px;
        max-width: 900px;
        width: 100%;
        z-index: 9;
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        background-color: $color-primary;
        opacity: .8;
        z-index: 1;
    }
}