description = "Jobs overview"

[builderList jobList]
modelClass = "Okeonline\Vacancies\Models\Vacancies"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "id"
noRecordsMessage = "No records found"
detailsPage = "jobs-detail"
detailsKeyColumn = "slug"
detailsUrlParameter = "slug"
pageNumber = "{{ :page }}"

[viewBag]
==
<section class="jobs-overview">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-offset-1 col-lg-6 col-xl-offset-3 col-xl-6">
                <div class="text-center">
                    <h2>Vacatures</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-offset-1 col-lg-6 col-xl-offset-3 col-xl-6">
                <div class="job-list">
                    {% for record in jobList.records %}
                    <div class="item">
                        {% if detailsPage %}
                            <a href="{{ detailsPage|page({ (detailsUrlParameter): attribute(record, detailsKeyColumn) }) }}"> 
                        {% endif %}
                            <div class="inner">
                                <div class="title">{{ record.title }}</div>
                                <div class="details">
                                    <span>{{ record.detail_city }}</span>
                                    <span>{{ record.detail_employment }}</span>
                                </div>
                            </div>
                            <div class="arrow">
                                <i class="far fa-arrow-right"></i>
                            </div>
                        {% if detailsPage %}
                            </a> 
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% partial 'theme-sidenotes/scroll-down' %}
</section>