description = "404 content"
==

<section class="not-found-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-offset-1 col-lg-6 col-xl-offset-1 col-xl-4">
                <div class="content">
                    <div class="subtitle">OKE Online</div>
                    <h1>Oooops!</h1>
                    <p>Looks like this page is missing. Don't worry though, our best man is on the case.</p>
                    <a href="/" class="btn btn-primary">Naar homepage</a>
                </div>
            </div>
        </div>
    </div>
    <div class="absolute-image">
        <img src="{{ 'assets/img/branding/monkey.png' | theme }}" alt="404 not found">
    </div>
</section>