.hero-products-detail {
    min-height: 60vh;
    background: $color-primary;

    .content {
        color: $color-white;
        padding-top: 150px;
        margin-bottom: 100px;

        h1 {
            color: $color-white;
        }
    }
}
