.products-detail-featured-cases {
    background: $color-primary;

    .heading {

        h3 {
            color: $color-white;
            margin-bottom: 1.5em;

            span {
                color: $color-accent;
            }
        }
    }

    .slide-info {
        color: $color-accent;
        position: absolute;
        right: 15%;
        top: 250px;
    }

    .cases-list {

        .item {
            position: relative;

            &:focus {
                outline: none;
            }

            .image {

            }

            .content {

                h3 {
                    color: $color-white;
                }

                p {
                    color: $color-white;
                }

                .btn {
                    margin-top: 20px;
                }
            }
        }

        .slick-dots {
            display: none!important;
        }

        .slick-arrow {
            color: $color-white;
            position: absolute;
            top: 0;
            right: 0;
            font-size: 20px;

            &.slick-prev {
                right: 50px;
            }
        }
        


    }
}