.products-detail-main-content {
    padding-top: 0;

    .row {

        h2 {
            display: block;
            width: 100%;
            margin-top: 1em;
        }
    }

    .products-detail-features {

        ul {
            list-style: none;
            margin: 0 0 2em 0;
            padding: 0;

            li {
                margin-bottom: 1em;

                &::before {
                    content: '';

                }
            }
        }
    }

    .products-detail-standards {
        
        .box {
            border: 1px solid $border-color-light;
            border-radius: 12px;
            padding: 30px;
            margin-bottom: 20px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            .image {
                width: 350px;

                img {
                    width: 100%;
                }
            }

            .description {
                padding-left: 50px;
                width: calc(100% - 350px);

                p {
                    margin-top: 0;
                    margin-bottom: 0;
                }
            }

        }

    }

    .products-detail-downloads {

        ul {
            list-style: none;
            margin: 0 0 2em 0;
            padding: 0;
            width: 100%;

            li {
                border-bottom: 1px solid $border-color-light;
                display: block;
                width: 100%;

                a {
                    padding: 1.5em 0;
                    display: block;
                    font-weight: $font-weight-bold;
                    display: flex;
                    justify-content: space-between;

                    svg {
                        color: $color-accent;
                        margin-right: 1.5em;
                    }
                }

                &:first-child {
                    border-top: 1px solid $border-color-light;
                }
            }
        }
    }

    .products-detail-sidebar {
        margin-top: 20px;
        padding: 30px 30px 0px 30px;
        border-radius: 12px;
        border: 1px solid $border-color-light;
        
        .inner {

            .heading {

                h4 {
                    font-size: 32px;
                    margin-bottom: 20px;
                }
            }

            .contact {
            
                ul {
                    list-style: none;
                    margin: 1.5em 0 0 0;
                    padding: 0px;
    
                    li {
                        margin: 1em 0;
    
                        a {
                            transition: ease .5s;
    
                            svg {
                                transition: ease .5s;
                                color: $color-accent;
                                margin-right: 1em;
                            }
    
                            &:hover {
                                color: $color-accent;
    
                                svg {
                                    margin-right: 1.5em;
                                }
                            }
    
                        }
                    }
                }
            }

            .image {
                margin-top: 50px;
                text-align: center;

                img {
                    max-width: 80%;
                    max-height: 300px;
                    margin: 0 auto;
                }
            }
        }
    }
}