description = "Cases overview"

[builderList casesList]
modelClass = "Okeonline\Cases\Models\Cases"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "id"
noRecordsMessage = "No records found"
detailsPage = "cases-detail"
detailsKeyColumn = "slug"
detailsUrlParameter = "slug"
pageNumber = "{{ :page }}"
sortColumn = "sort_order"
sortDirection = "asc"

[viewBag]
==
<section class="cases-overview">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-offset-1 col-lg-10">
                <div id="cases" class="cases-overview-list">
                
                    {% for record in casesList.records %}

                        {% if (loop.index is even) %}

                        <div class="row item middle-lg">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
                                <div class="content">
                                    <div class="subtitle">{{ record.title }}</div>
                                    <h3>{{ record.client }}</h3>
                                    <p>{{ record.description_intro | raw }}</p>
                                    {% if detailsPage %}
                                        <a href="{{ detailsPage|page({ (detailsUrlParameter): attribute(record, detailsKeyColumn) }) }}" class="btn btn-primary">Bekijk case</a>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7 col-lg-offset-1">
                                <div class="image">
                                    <img src="{{ record.image_main | media }}" alt="{{ record.client }} {{ record.title }}" class="image-responsive image-rounded">
                                </div>
                            </div>
                        </div>

                        {% else %}

                        <div class="row item middle-lg">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7">
                                <div class="image">
                                    <img src="{{ record.image_main | media }}" alt="{{ record.client }} {{ record.title }}" class="image-responsive image-rounded">
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 col-lg-offset-1">
                                <div class="content">
                                    <div class="subtitle">{{ record.title }}</div>
                                    <h3>{{ record.client }}</h3>
                                    <p>{{ record.description_intro | raw }}</p>
                                    {% if detailsPage %}
                                        <a href="{{ detailsPage|page({ (detailsUrlParameter): attribute(record, detailsKeyColumn) }) }}" class="btn btn-primary">Bekijk case</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        {% endif %}

                    {% endfor %}
                
                </div>
            </div>
        </div>
    </div>
   
</section>