description = "Cases Clients Overview"

[builderList clientList]
modelClass = "Okeonline\Clients\Models\Items"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "id"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
sortColumn = "sort_order"
sortDirection = "asc"

[viewBag]
==
<section class="cases-clients-overview">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-offset-1 col-lg-10">
                <div class="heading">
                    <h3>You're in good company</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-offset-1 col-lg-10">
                <div class="cases-clients-overview-list">
                    {% for record in clientList.records %}
                        <div class="item">
                            <div class="inner">
                                <img src="{{ record.logo | media }}" alt="{{ record.name }}" class="img-responsive">
                            </div>
                        </div>
                    {% endfor %}                    
                </div>
            </div>
        </div>
    </div>
    <div class="sidenote sidenote-dark sidenote-top-left">
        <div class="note">
            <span>klanten</span>
        </div>
    </div>
</section>