description = "Stories overview"

[viewBag]

[builderList storiesList]
modelClass = "Okeonline\Stories\Models\Items"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "id"
noRecordsMessage = "No records found"
detailsPage = "stories-detail"
detailsKeyColumn = "slug"
detailsUrlParameter = "slug"
pageNumber = "{{ :page }}"
sortColumn = "id"
sortDirection = "desc"
==
<section class="stories-overview">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-offset-1 col-lg-10">
                <div id="stories" class="stories-overview-list">
                    {% for record in storiesList.records %}
                        <div class="item" style="background-image: url('{{ record.image_main | media }}');">
                            {% if detailsPage %}
                                <a href="{{ detailsPage|page({ (detailsUrlParameter): attribute(record, detailsKeyColumn) }) }}">
                            {% endif %}
                                <div class="caption">
                                    <div class="subtitle">
                                        {% for category in record.categories %}
                                            {{ category.title }}
                                        {% endfor %}
                                    </div>
                                    <div class="title">{{ record.title }}</div>
                                    <div class="arrow"><i class="far fa-arrow-right"></i></div>
                                </div>
                            {% if detailsPage %}
                                </a>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>