.core-values {
    position: relative;
    padding-bottom: 130px!important;

    .slide-info {
        color: #E62A49;
        position: absolute;
        right: 110px;
        top: 91px;
        left: auto;
    }

    .values-list {

        .item {
            position: relative;

            &:focus {
                outline: none;
            }
        }

    }

    .slick-dots {
        display: none!important;
    }

    .slick-arrow {
        color: $color-primary;
        position: absolute;
        font-size: 20px;
        top: 30px;
        left: auto;
        right: 0;

        &.slick-prev {
            right: 50px;
        }

        &.slick-next {
            right: 0px;
        }
    }
}



@media screen and (min-width: $break-md) {

    .core-values {

        .slide-info {
            left: 20%;
            top: 191px;
            right: auto;
        }

        .slick-arrow {
            top: 130px;
            left: 0px;
            right: auto;

            &.slick-prev {
                left: 0px;
                right: auto;
            }

            &.slick-next {
                left: 50px;
                right: auto;
            }
        }
    }
}

@media screen and (min-width: $break-lg) {
    .core-values {

        .slide-info {
            left: 15%;
            top: 232px;
        }
    }
}