.culture-carousel {
    background: $color-primary;

    .container-fluid {
        padding: 0;
    }

    .image-list {
        border-radius: 12px 0px 0px 12px;
        overflow: hidden;
        position: relative;
        z-index: 5;
        margin-top: 0px;

        .item {
            height: 50vh;
            width: 100%;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            border-radius: 12px;

            &:nth-child(even) {
                margin-top: 30px;
            }
        }
    }

    &::after {
        content: '';
        position: absolute;
        z-index: 1;
        bottom: 0;
        left: 0;
        right: 0;
        background: $color-white;
        height: 20vh;
    }

    .slick-slide {
        margin: 0 27px;
    }
  
    .slick-list {
        margin: 0 -27px;
    }

}



@media screen and (min-width: $break-lg) {
    .culture-carousel {
    
        .image-list {
    
            .item {
                height: 500px;
    
                &:nth-child(even) {
                    margin-top: 50px;
                }
            }
        }
    
    }
    
}