.hero-about {
    min-height: 100vh;
    background: $color-primary;

    .moving-bg {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        background-image: url('../../assets/img/branding/wave-02.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center ;
        transform: scale(1.1);    
    }

    .content {
        color: $color-white;
        padding-top: 150px;
        position: relative;
        z-index: 9;

        h1 {
            color: $color-white;
        }
    }
}


@media screen and (min-width: $break-xl) {

    .hero-about {
    
        .content {
            padding-top: 250px;
        }
    }

}
