.image-carousel-intro {
    position: relative;
    z-index: 9;

    .container-fluid {
        padding: 0;
    }
    
    .image-list {
        margin-top: -120px;
        border-radius: 12px 0px 0px 12px;
        overflow: hidden;

        .item {
            height: 50vh;
            width: 100%;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            border-radius: 12px;

            &:nth-child(even) {
                margin-top: 30px;
            }
        }
    }

    .slick-slide {
        margin: 0 27px;
    }
  
    .slick-list {
        margin: 0 -27px;
    }

}

@media screen and (min-width: $break-lg) {
    .image-carousel-intro {
        
        .image-list {
            margin-top: -250px;
    
            .item {
                height: 500px;
                
    
                &:nth-child(even) {
                    margin-top: 50px;
                }
            }
        }
    }
}