.team-carousel {
    background: $color-primary;

    h2 {
        color: $color-white;
    }

    .team-list {
        margin-top: 30px;
        position: relative;
        z-index: 5;

        .item {

            .image {

                img {
                    width: 100%;
                }
            }
            
            .caption {
                padding: 30px 0px;
                text-align: center;

                .title {
                    font-size: 28px;
                }
            }

            &:focus {
                outline: none;
            }
        }
    }

    &::after {
        content: '';
        position: absolute;
        z-index: 1;
        bottom: 0;
        left: 0;
        right: 0;
        background: $color-white;
        height: 35vh;
    }

    .slick-slide {
        margin: 0 27px;
    }
  
    .slick-list {
        margin: 0 -27px;
    }

    .slick-arrow {
        color: $color-white;
        position: absolute;
        right: 0px;
        top: -95px;
        font-size: 20px;

        &.slick-prev {
            right: 49px;
        }
    }

}



@media screen and (min-width: $break-lg) {
    .team-carousel {

        .slick-arrow {
            top: -130px;
            right: 10%;

            &.slick-prev {
                right: 15%;
            }
        }
    }
}