description = "Hero products detail"

[viewBag]
==
<section class="hero-products-detail">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-offset-1 col-lg-6 col-xl-offset-3 col-xl-6">
                <div class="content text-center">
                    <div class="subtitle">Product</div>
                    <h1>{{ record.title }}</h1>
                    <p>{{ record.description_intro | raw }}</p>
                </div>
            </div>
        </div>
    </div>
    {% partial 'theme-sidenotes/scroll-down' %}
</section>