description = "Products main content"

[viewBag]
==
<section class="products-detail-main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-offset-1 col-lg-7">
                {% if record.description_main %}
                <div class="row products-detail-description">
                    <h2>Omschrijving</h2>
                    {{ record.description_main | raw }} 
                </div>
                {% endif %}
                {% if record.contents_featured is not empty %}
                <div class="row products-detail-features">
                    <h2>Voordelen</h2>
                    <ul>
                        {% for content in record.contents_featured %}
                            <li>{{ content.item }}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
                {% if record.contents_standards is not empty %}
                <div class="row products-detail-standards">
                    <h2>Standaarden</h2>
                    {{ record.description_standards | raw }}
                    {% for standard in record.contents_standards %}
                    <div class="box">
                        {% if standard.image %}
                        <div class="image">
                            <img src="{{ standard.image | media }}" alt="">
                        </div>
                        {% endif %}
                        {% if standard.content %}
                        <div class="description">
                            {{ standard.content|raw }}
                        </div>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
                {% if record.contents_downloads is not empty %}
                <div class="row products-detail-downloads">
                    <h2>Downloads</h2>
                    <ul>
                        {% for download in record.contents_downloads %}
                            {% if download.link %}
                            <li>
                                <a href="{{ download.link }}">{{ download.title }}<i class="far fa-arrow-right"></i></a>
                            </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-offset-1 col-lg-2">
                {% for member in record.members %}
                <div class="sidebar-sticky products-detail-sidebar">
                    <div class="inner">
                        <div class="heading">
                            <div class="subtitle">Meer weten over</div>
                            <h4>Naam expertise?</h4>
                        </div>
                        <div class="description">
                            <p>{{ member.first_name }} {{ member.last_name }} vertelt je er graag meer over</p>
                        </div>
                        <div class="contact">
                            <ul>
                                <li><a href="tel:{{ member.phone }}"><i class="far fa-arrow-right"></i>{{ member.phone }}</a></li>
                                <li><a href="mailto:{{ member.mail }}"><i class="far fa-arrow-right"></i>{{ member.mail }}</a></li>
                            </ul>
                        </div>
                        <div class="image">
                            <img src="http://placehold.it/600x900" alt="">
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>