description = "Product Detail Image"
==

{% if record.image_main %}
<section class="products-detail-image">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-offset-1 col-lg-10">
                <div class="image">
                    <img src="{{ record.image_main | media }}" alt="{{ record.title }}">
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}