description = "Products detail featured carousel" 
==

<section class="products-detail-featured-cases">
    <div class="sidenote sidenote-white sidenote-top-left">
        <div class="note">
            <span>Cases</span>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
                <div class="heading">
                    <div class="subtitle">Cases & Klanten</div>
                    <h3>Naam product <span>+</span></h3>
                </div>
            </div>
        </div>
        <div class="row middle-lg">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
                <div class="slide-info"></div>
                <div class="cases-list">
                    <div class="item">
                        <div class="row middle-lg">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7">
                                <div class="image">
                                    <img src="http://placehold.it/870x761" alt-"" class="image-responsive image-rounded">
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 col-lg-offset-1">
                                <div class="content">
                                    <div class="subtitle">Webshop</div>
                                    <h3>La Carne</h3>
                                    <p>Sycade laat organisaties en bedrijven optimaal renderen en innoveren door IT. Middels onze expertise op het gebied van de Microsoft vertical zijn wij in staat om bedrijven volledig te ontzorgen bij grootschalige integratievraagstukken, dashboarding (BI) en applicatie development.</p>
                                    <a href="#" class="btn btn-primary">Bekijk case</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row middle-lg">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7">
                                <div class="image">
                                    <img src="http://placehold.it/870x761" alt-"" class="image-responsive image-rounded">
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 col-lg-offset-1">
                                <div class="content">
                                    <div class="subtitle">Webshop</div>
                                    <h3>La Carne</h3>
                                    <p>Sycade laat organisaties en bedrijven optimaal renderen en innoveren door IT. Middels onze expertise op het gebied van de Microsoft vertical zijn wij in staat om bedrijven volledig te ontzorgen bij grootschalige integratievraagstukken, dashboarding (BI) en applicatie development.</p>
                                    <a href="#" class="btn btn-primary">Bekijk case</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row middle-lg">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7">
                                <div class="image">
                                    <img src="http://placehold.it/870x761" alt-"" class="image-responsive image-rounded">
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 col-lg-offset-1">
                                <div class="content">
                                    <div class="subtitle">Webshop</div>
                                    <h3>La Carne</h3>
                                    <p>Sycade laat organisaties en bedrijven optimaal renderen en innoveren door IT. Middels onze expertise op het gebied van de Microsoft vertical zijn wij in staat om bedrijven volledig te ontzorgen bij grootschalige integratievraagstukken, dashboarding (BI) en applicatie development.</p>
                                    <a href="#" class="btn btn-primary">Bekijk case</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>