.partner-tools-block {

    .logo-block {
        margin-bottom: 15px;

        .inner {
            padding: 40px 20px;
            border: 1px solid $border-color-light;
            border-radius: 3px;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                max-width: 300px;
                max-height: 100px;
            }
        }
    }
}