.jobs-overview {
    
    .job-list {
        position: relative;
        z-index: 9;

            .item {
                box-shadow: $box-shadow-light;
                border-radius: 12px;
                margin: 20px 0px;


                a {
                    display: block;
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 20px 40px;
                    box-sizing: border-box;

                    .inner {
                        display: flex;
                        justify-content: space-between;
                        width: 90%;
                        align-items: center;

                        .title {
                            font-weight: $font-weight-bold;
                            font-size: 1.5em;
                        }
                        .details {
                            span {
                                margin-right: 30px;
                            }
                        }
                    }

                    .arrow {
                        svg {
                            color: $color-accent;
                        }
                    }   
                }
            }
        
    }
}