
.hero-static-pages {
    min-height: 50vh;
    background: $color-primary;

    .content {
        color: $color-white;
        padding-top: 150px;

        h1 {
            color: $color-white;
            font-size: 2.5em;
        }
    }
}

@media screen and (min-width: $break-lg) {
    .hero-static-pages {

        .content {

            h1 {
                font-size: 4em;
            }
        }
    }
}