description = "Hero Stories Detail"

[viewBag]
==
<section class="hero-stories-detail">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-offset-1 col-lg-6 col-xl-offset-1 col-xl-7">
                <div class="content">
                    <div class="subtitle">
                        {% for category in record.categories %}
                            {{ category.title }}
                        {% endfor %}
                    </div>
                    <h1>{{ record.title }}</h1>
                </div>
            </div>
        </div>
    </div>
    {% partial 'theme-sidenotes/scroll-down' %}
</section>