description = "Stories detail content"

[viewBag]
==
<section class="stories-detail-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-offset-1 col-lg-7">
               {{ record.content | raw }}
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-offset-1 col-lg-2">
                {% for member in record.members %}
                <div class="sidebar-sticky stories-detail-sidebar">
                    <div class="inner">
                        <div class="heading">
                            <div class="subtitle">Let's Talk</div>
                            <h4>Neem contact op</h4>
                        </div>
                        <div class="description">
                            <p>{{ member.first_name }} {{ member.last_name }} vertelt je er graag meer over</p>
                        </div>
                        <div class="contact">
                            <ul>
                                <li><a href="tel:{{ member.phone }}"><i class="far fa-arrow-right"></i>{{ member.phone }}</a></li>
                                <li><a href="mailto:{{ member.mail }}"><i class="far fa-arrow-right"></i>{{ member.mail }}</a></li>
                            </ul>
                        </div>
                        <div class="image">
                            <img src="http://placehold.it/600x900" alt="">
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>