description = "Hero Dark Full Screen"
==

<section class="hero-dark-full-screen">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-offset-1 col-lg-6 col-xl-offset-1 col-xl-5">
                <div class="content">
                    <div class="subtitle">Maak kennis met OKE Online</div>
                    <h1>Digital Commerce</h1>
                    <p>Sycade laat organisaties en bedrijven optimaal renderen en innoveren door IT. Middels onze expertise op het gebied van de Microsoft vertical zijn wij in staat om bedrijven volledig te ontzorgen bij grootschalige integratievraagstukken, dashboarding (BI) en applicatie development.</p>
                    <div class="buttons">
                        <a href="#" class="btn btn-primary">Bekijk onze cases</a>
                        <a href="#" class="btn btn-secondary">Onze diensten</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% partial 'sidenotes/scroll-down' %}
</section>