.client-carousel {

    h4 {
        margin-bottom: 50px;
    }

    .client-carousel-list {

        .item {

            img {
                width: 100%;
                filter: grayscale(100%);
                opacity: .5;
            }
        }
    }
}