.featured-cases-carousel {
    background: $color-primary;

    .slide-info {
        color: #E62A49;
        position: absolute;
        right: 15%;
        top: 104px;
    }

    .cases-list {

        .item {
            position: relative;

            &:focus {
                outline: none;
            }

            .image {

            }

            .content {
                margin-top: 30px;

                h3 {
                    color: $color-white;
                }

                p {
                    color: $color-white;
                }

                .btn {
                    margin-top: 20px;
                }
            }
        }

        .slick-dots {
            display: none!important;
        }

        .slick-arrow {
            color: $color-white;
            position: absolute;
            top: 0;
            right: 0;
            font-size: 20px;

            &.slick-prev {
                right: 50px;
            }
        }
        


    }
}

@media screen and (min-width: $break-md) {
    .featured-cases-carousel {
    
        .slide-info {
            
        }
    
        .cases-list {
    
            .item {
    
                .content {
                    margin-top: 0px;
                }

            }
        }
    }
}