.hero-home-video {
    min-height: 100vh;
    background-color: $color-primary;
    
    .moving-bg {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        background-image: url('../../assets/img/branding/wave-01.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center ;
        transform: scale(1.1);    
    }


    .content {
        color: $color-white;
        padding-top: 150px;
        position: relative;
        z-index: 10;

        h1 {
            color: $color-white;
        }
    }

    .video-play {
        display: none;
        padding-top: 350px;
        position: relative;
        z-index: 10;

        a {
            display: flex;
            align-items: center;

            .video-play-button {
                margin-right: 50px;
                color: $color-white;
                font-size: 2em;
                background: transparent;
                border: 2px solid $color-accent;
                width: 100px;
                height: 100px;
                border-radius: 100px;
                display: flex;
                align-items: center;
                justify-content: center;
                animation: pulse 2s infinite;
            }


            .video-play-text {
                display: flex;
                align-items: center;

                span {
                    color: $color-white;
                    

                    &::before {
                        content: '';
                        width: 100px;
                        height: 1px;
                        background: $color-white;
                        display: inline-block;
                        margin-right: 50px;
                        top: -5px;
                        position: relative;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: $break-xl) {

    .hero-home-video {
    
        .content {
            padding-top: 250px;
        }
    }

}