
.image-quote-full {
    background-color: $color-white;

    .container-fluid {
        padding-right: 0;
    }

    .image {
        border-radius: 12px 0px 0px 12px;
        height: 60vh;
        margin-top: -100px;
        position: relative;
        overflow: hidden;

        .content {
            position: absolute;
            z-index: 50;
            left: 25px;
            bottom: 25px;
            right: 25px;
            width: 80%;

            .quote {
                font-size: 24px;
                font-weight: $font-weight-bold;
                font-style: italic;
                color: $color-white;
            }
        }

        &::after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: $overlay-dark-transparent;
            
        }
    }   
}

@media screen and (min-width: $break-md) {
    .image-quote-full {
        
        .image {
            height: 80vh;
            margin-top: -150px;

            .content {
                left: 50px;
                bottom: 50px;
                width: 100%;
                max-width: 800px;

                .quote { 
                    font-size: 40px;
                }
            }
        }
    }
}

