.jobs-block {

    .image {
        position: relative;

        img {
            margin-bottom: 30px;
        }

    }
    .job-list-short {
        display: flex;
        flex-direction: column;
        border-top: 1px solid $border-color-light;
        border-bottom: 1px solid $border-color-light;
        margin: 30px 0px;

        .item {
            padding: 20px 0px;
            border-bottom: 1px solid $border-color-light;
            
            a {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                position: relative;

                .title {
                    font-weight: $font-weight-bold;
                    font-size: 1.2em;
                    max-width: 80%;
                }

                .details {
                    max-width: 80%;

                    span {
                        margin-right: 15px;
                        color: $color-accent;
                    }

                }

                .arrow {
                    color: $color-accent;
                    right: 30px;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                }
            
            }

            &:last-child {
                border-bottom: 0px;
            }
        }

    }
}

@media screen and (min-width: $break-xs) {
    .jobs-block {

        .job-list-short {

            .item {

                a { 
                    flex-direction: row;
                    justify-content: flex-start;

                    .title {
                        width: 50%;
                    }

                    .details {
                        width: auto;
                        padding-right: 50px;
                    }

                }
            }
            
        }
    }
}

@media screen and (min-width: $break-md) {
    .jobs-block {

        .job-list-short {

            .item {

                a { 
                    flex-direction: column;

                    .title {
                        width: 80%;
                    }

                    .details {
                        width: 80%;
                    }

                }
            }
            
        }
    }
}

@media screen and (min-width: $break-lg) {
    .jobs-block {

        .job-list-short {

            .item {

                a { 
                    flex-direction: row;
                    justify-content: flex-start;

                    .title {
                        width: 50%;
                    }

                    .details {
                        width: auto;
                        padding-right: 50px;
                    }

                }
            }
            
        }
    }
}