.products-carousel {

    .quote {
        font-size: 1.5em;
        font-style: italic;
        margin-top: 40px;
        margin-bottom: 40px;
        font-weight: $font-weight-bold;
    }

    .products-list {
        margin: 30px 0px 60px 0px;

        .item {
            border-radius: 12px;
            margin-top: 30px;
            margin-bottom: 30px;
            box-shadow: $box-shadow-light;

            a {

                .inner {
                    padding: 25px;

                    .title {
                        font-weight: $font-weight-bold;
                        font-size: 24px;
                        text-transform: uppercase;
                        max-width: 80%;
                        margin-bottom: 30px;

                        span {
                            color: $color-accent;
                        }
                    }

                    .caption {
                        margin-bottom: 30px;
                    }
                }
            }
        }
    }

  
    .slick-slide {
        margin: 0 27px;
    }
  
    .slick-list {
        margin: 0 -27px;
    }
}

@media screen and (min-width: $break-md) {
    .products-carousel {

        .quote {
            font-size: 2em;
        }

        .products-list {
    
            .item {
    
                a {
    
                    .inner {
                        padding: 40px;

                        .title {
                            font-size: 28px;
                        }
                    }
                }
            }
        }
    }    
}
