.stories-carousel {
    background: $color-primary;

    .stories-list {
        margin: 30px 0px 60px 0px;

        .item {
            border-radius: 12px;
            background: $color-white;

            a {

                .inner {
                    padding: 40px;

                    .caption {
                        font-weight: $font-weight-bold;
                        font-size: 28px;
                        max-width: 90%;
                        margin-bottom: 30px;
                    }

                }
            }
        }
    }

  
    .slick-slide {
        margin: 0 27px;
    }
  
    .slick-list {
        margin: 0 -27px;
    }
}