description = "Client carousel"

[builderList clientList]
modelClass = "Okeonline\Clients\Models\Items"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "id"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
sortColumn = "sort_order"
sortDirection = "asc"

[viewBag]
==
<section class="client-carousel">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
                <h4>You're in good company</h4>
                <div class="client-carousel-list">
                    {% for record in clientList.records %}
                        <div class="item">
                            <img src="{{ record.logo | media }}" alt="{{ record.name }}">
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="hidden-xs hidden-sm hidden-md col-lg-1">
                
            </div>
        </div>
    </div>
    <div class="sidenote sidenote-dark sidenote-bottom-right">
        <div class="note">
            <span>klanten</span>
        </div>
    </div>
</section>