description = "Featured cases carousel"

[viewBag]

[builderList casesList]
modelClass = "Okeonline\Cases\Models\Cases"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "id"
noRecordsMessage = "No records found"
detailsPage = "cases-detail"
detailsKeyColumn = "slug"
detailsUrlParameter = "slug"
pageNumber = "{{ :page }}"
==
<section class="featured-cases-carousel">
    <div class="sidenote sidenote-white sidenote-top-left">
        <div class="note">
            <span>Cases</span>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row middle-lg">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
                <div class="slide-info"></div>
                <div class="cases-list">
                    {% for record in casesList.records if record.featured %}
                        <div class="item">
                            <div class="row middle-lg">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7">
                                    <div class="image">
                                        {% if detailsPage %}
                                            <a href="{{ detailsPage|page({ (detailsUrlParameter): attribute(record, detailsKeyColumn) }) }}">
                                        {% endif %}
                                            <img src="{{ record.image_main | media }}" alt="{{ record.title }} {{ record.client }}" class="image-responsive image-rounded">
                                        {% if detailsPage %}
                                            </a>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 col-lg-offset-1">
                                    <div class="content ">
                                        <div class="subtitle">{{ record.title }}</div>
                                        <h3>{{ record.client }}</h3>
                                        <p>{{ record.description_intro | raw }}</p>
                                        {% if detailsPage %}
                                            <a href="{{ detailsPage|page({ (detailsUrlParameter): attribute(record, detailsKeyColumn) }) }}" class="btn btn-primary">Bekijk case</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

</section>