description = "Text image block"

[viewBag]
==
<section class="jobs-block">
    <div class="sidenote sidenote-dark sidenote-top-left">
        <div class="note">
            <span>Vacatures</span>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row middle-lg">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5 col-lg-offset-1">
                <div class="image-container">
                    <img class="image-responsive image-rounded" src="{{ 'corporate/jobs.jpg' | media }}" alt="">
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-lg-offset-1">
                <h2>Ben jij de koning die wij zoeken?</h2>
                <p>Sycade laat organisaties en bedrijven optimaal renderen en innoveren door IT. Middels onze expertise op het gebied van de Microsoft vertical zijn wij in staat om bedrijven volledig te ontzorgen bij grootschalige integratievraagstukken, dashboarding (BI) en applicatie development.</p>
                <div class="job-list-short">
                    <div class="item">
                        <a href="#">
                            <div class="title">
                                .NET Developer
                            </div>
                            <div class="details">
                                <span>Full-time</span>
                                <span>Zwolle</span>
                            </div>
                            <div class="arrow">
                                <i class="far fa-arrow-right"></i>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <div class="title">
                                .NET Developer
                            </div>
                            <div class="details">
                                <span>Full-time</span>
                                <span>Zwolle</span>
                            </div>
                            <div class="arrow">
                                <i class="far fa-arrow-right"></i>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <div class="title">
                                .NET Developer
                            </div>
                            <div class="details">
                                <span>Full-time</span>
                                <span>Zwolle</span>
                            </div>
                            <div class="arrow">
                                <i class="far fa-arrow-right"></i>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="buttons">
                    <a href="#" class="btn btn-primary">Alle vactures</a>
                </div>
            </div>
            
        </div>
    </div>
</section>