description = "Products carousel"

[builderList productList]
modelClass = "Okeonline\Products\Models\Products"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "id"
noRecordsMessage = "No records found"
detailsPage = "products-detail"
detailsKeyColumn = "slug"
detailsUrlParameter = "slug"
pageNumber = "{{ :page }}"
sortColumn = "sort_order"
sortDirection = "asc"

[viewBag]
==
<section class="products-carousel">
    <div class="sidenote sidenote-dark sidenote-top-left">
        <div class="note">
            <span>Producten</span>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7 col-lg-offset-1">
                <div class="quote">
                    OKE Online staat voor toegankelijke IT-innovaties voor het MKB(+), waarbij datagedreven werken daadwerkelijk rendeert. 
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
                <div class="products-list">
                
                    {% for record in productList.records %}
                        <div class="item ">
                            {% if detailsPage %}
                                <a href="{{ detailsPage|page({ (detailsUrlParameter): attribute(record, detailsKeyColumn) }) }}"> 
                            {% endif %}
                                <div class="inner">
                                    <div class="title">{{ record.title }}</div>
                                    <div class="caption">{{ record.description_intro | raw }}</div>
                                    <div class="arrow"><i class="far fa-arrow-right"></i></div>
                                </div>
                            {% if detailsPage %}
                                </a> 
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
                <a href="#" class="btn btn-primary">Bekijk alle producten</a>
            </div>
        </div>
    </div>
</section>