description = "Stories carousel"

[viewBag]

[builderList storiesList]
modelClass = "Okeonline\Stories\Models\Items"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "id"
noRecordsMessage = "No records found"
detailsPage = "stories-detail"
detailsKeyColumn = "slug"
detailsUrlParameter = "slug"
pageNumber = "{{ :page }}"
sortColumn = "id"
sortDirection = "desc"
==
<section class="stories-carousel">
    <div class="sidenote sidenote-white sidenote-top-left">
        <div class="note">
            <span>Stories</span>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
                <div class="stories-list">
                
                    {% for record in storiesList.records %}
                    <div class="item">
                        {% if detailsPage %}
                            <a href="{{ detailsPage|page({ (detailsUrlParameter): attribute(record, detailsKeyColumn) }) }}">
                        {% endif %}
                            <div class="inner">
                                <div class="subtitle">
                                    {% for category in record.categories %}
                                        {{ category.title }}
                                    {% endfor %}
                                </div>
                                <div class="caption">{{ record.title }}</div>
                                <div class="arrow"><i class="far fa-arrow-right"></i></div>
                            </div>
                        {% if detailsPage %}
                            </a>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
                <a href="#" class="btn btn-primary">Bekijk alle stories</a>
            </div>
        </div>
    </div>
</section>