description = "Text image block"

[viewBag]
==
<section class="text-image-block">
    <div class="container-fluid">
        <div class="row middle-lg">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-lg-offset-1">
                <h2>OKE Online haalt het maximale uit jouw IT.</h2>
                <p>Sycade laat organisaties en bedrijven optimaal renderen en innoveren door IT. Middels onze expertise op het gebied van de Microsoft vertical zijn wij in staat om bedrijven volledig te ontzorgen bij grootschalige integratievraagstukken, dashboarding (BI) en applicatie development.</p>
                <p>Sycade laat organisaties en bedrijven optimaal renderen en innoveren door IT. Middels onze expertise op het gebied van de Microsoft vertical zijn wij in staat om bedrijven volledig te ontzorgen bij grootschalige integratievraagstukken, dashboarding (BI) en applicatie development.</p>
                <div class="buttons">
                    <a href="#" class="btn btn-primary">Over ons</a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5 col-lg-offset-1">
                <div class="image-container">
                    <img class="image-responsive image-rounded" src="{{ 'corporate/intro.jpg' | media }}" alt="">
                </div>
            </div>
        </div>
    </div>
</section>