
.expertise-blocks {

    .expertise-block {
        margin-bottom: 50px;
        padding-bottom: 30px;
        border-bottom: 1px solid $border-color-light;

        .icon {
            color: $color-accent;
            font-size: 2.5em;
        }

        .heading {
            margin-top: 15px;

            h3 {
                margin-bottom: 10px;
            }
        }

        .description {
            margin-bottom: 10px;
        }
        
        .expertise-list {

            ul {
                list-style: none;
                margin: 1.5em 0 0 0;
                padding: 0px;

                li {
                    margin: 1em 0;

                    a {
                        transition: ease .5s;

                        svg {
                            transition: ease .5s;
                            color: $color-accent;
                            margin-right: 1em;
                        }

                        &:hover {
                            color: $color-accent;

                            svg {
                                margin-right: 1.5em;
                            }
                        }

                    }
                }
            }
        }

    }
}