
.expertise-image-quote-full {
    background-color: $color-white;

    .image {
        border-radius: 12px 0px 0px 12px;
        height: 80vh;
        margin-top: -250px;
        position: relative;
        overflow: hidden;
        z-index: 9;

        .content {
            position: absolute;
            left: 50px;
            bottom: 50px;
            z-index: 50;

            .quote {
                font-size: 40px;
                font-weight: $font-weight-bold;
                font-style: italic;
                color: $color-white;
            }
        }

        &::after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: $overlay-dark-transparent;
            
        }
    }   
}



@media #{$breakpoint-md-down} { 
    .expertise-image-quote-full { 
        .container-fluid {
            padding-right: 0;
        }
    }
    .expertise-image-quote-full {
        
        .image {
            height: 60vh;
            margin-top: -100px;

            .content {
                left: 25px;
                bottom: 25px;
                right: 25px;
                width: 80%;

                .quote { 
                    font-size: 24px;
                }
            }
        }
    }
}
