
html, body {
    overflow-x: hidden;
}

body {
    margin: 0px;
    font-size: 18px;
    font-family: $font-body-family;
    font-weight: $font-body-weight;
    font-style: $font-body-style;
    background-color: $color-primary;
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    margin-bottom: 30px;
}
