
/* Colors */

$color-primary: #121124;
$color-accent: #E62A49;
$color-white: #FFFFFF;
$color-invalid: #FF9FAE;


/* Fonts */

$font-heading-family: upgrade, sans-serif;
$font-heading-weight: 500;
$font-heading-style: normal;

$font-body-family: upgrade, sans-serif;
$font-body-weight: 300;
$font-body-style: normal;

$font-weight-regular: 300;
$font-weight-bold: 500;


/* Borders */

$border-color-light: #EBEBEB;

/* Shadows */

$image-shadow: 0px 0px 30px rgba(18,17,36,.35);
$box-shadow-light: 0px 0px 30px rgba(18,17,36,.20);

/* Overlay */

$overlay-dark-transparent: linear-gradient(to top, $color-primary 0%, transparent 100%);