.cases-overview {
    background-color: $color-primary;

    .cases-overview-list {

        .item {
            padding: 50px 0px;

            .image {
                margin-bottom: 30px;
            }

            .content {
                margin-bottom: 30px;

                h3 {
                    color: $color-white;
                }

                p {
                    color: $color-white;
                }

                .btn {
                    margin-top: 20px;
                }
            }
        }
    }


    .cases-nav {
        position:-webkit-sticky;
        position:sticky;
        top:0;
        right: 0;
        bottom: 0;
        width: 10%;

        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            li {

                a {
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    padding: 10px 0px;
                
                    span {
                        visibility: hidden;
                        color: #FFF;
                        margin-right: 20px;
                        
                    }

                    &::after {
                        content: '';
                        width: 30px;
                        height: 2px;
                        background: $color-white;
                        
                    }

                    &:hover {

                        span {
                            visibility: visible;
                        }

                        &::after {
                            background: $color-accent;
                        }
                    }

                }
            }
        }
    }
}


@media screen and (min-width: $break-md) {
    .cases-overview { 
    
        .cases-overview-list {
    
            .item {
    
                .image {
                    margin-bottom: 0px;
                }

                .content {
                    margin-bottom: 0px;
                }
            }
        }
    }
}