.cases-clients-overview {
 
    .cases-clients-overview-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;

        .item {
            width: 50%;
            margin: 20px 0px;

            .inner {
                padding: 10px;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    width: 100%;
                    filter: grayscale(100%);
                    opacity: .5;
                }
            }
        }
    }
}

@media screen and (min-width: $break-md) {
    .cases-clients-overview {
 
        .cases-clients-overview-list {
    
            .item {
                width: 20%;

                .inner {
                    padding: 20px 30px;
                }
            }
        }
    }
}