@-webkit-keyframes pulse {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(230,42,73, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 30px rgba(230,42,73, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(230,42,73, 0);
    }
  }
  @keyframes pulse {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba(230,42,73, 0.4);
      box-shadow: 0 0 0 0 rgba(230,42,73, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 30px rgba(230,42,73, 0);
        box-shadow: 0 0 0 30px rgba(230,42,73, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(230,42,73, 0);
        box-shadow: 0 0 0 0 rgba(230,42,73, 0);
    }
  }

  .marker-animation {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: $color-accent;
      width: 100%;
      z-index: 999;
  }