
.btn {
    padding: 12px 45px;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    text-transform: uppercase;
    font-weight: $font-weight-bold;
    display: inline-block;
    font-size: 16px;
    transition: ease-in-out .5s;
}

.btn-primary {
    background-color: $color-accent;
    border-color: $color-accent;
    color: $color-white;

    &:hover {
        background-color: transparent;
        color: $color-accent;
    }
}

.btn-secondary {
    background-color: transparent;
    border-color: $color-accent;
    color: $color-white;
}

.buttons {
    margin: 40px 0px; 
}
.buttons .btn {
    margin-right: 20px;
    margin-bottom: 20px;
}

