

.image-responsive {
    width: 100%;
}

.image-rounded {
    border-radius: 12px;
}

.image-shadow {
    box-shadow: $image-shadow;
}


.image-container {
    position: relative;
    text-align: center;
    overflow: hidden;
    z-index: 4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    img {
        object-fit: cover;
        height: auto;
        width: 100%;
        max-width: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        position: relative;

    }
}

.image-marker-animation {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: $color-accent;
        z-index: 1;
        left: 0;
        border-radius: 12px;
        -webkit-transition: left 1s ease-in-out;
        -moz-transition: left 1s ease-in-out;
        -ms-transition: left 1s ease-in-out;
        -o-transition: left 1s ease-in-out;
        transition: left 1s ease-in-out;
    }

    &.in-view {

        &::before {
            left: 100%;
            -webkit-transition-delay: 1s;
            -moz-transition-delay: 1s;
            -ms-transition-delay: 1s;
            -o-transition-delay: 1s;
            transition-delay: 1s;
        }
    }
}