

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6  {
    font-family: $font-heading-family;
    font-weight: $font-heading-weight;
    $font-style: $font-heading-style;
    margin: 0;
    padding: 0;
    color: $color-primary;
    display: block;
    position: relative;
}

h1, .h1 {
    font-size: 80px;
    line-height: inherit;
}
h2, .h2 {
    font-size: 50px;
    line-height: inherit;
    margin-bottom: 30px;
}
h3, .h3 {
    font-size: 44px;
    line-height: inherit;
    margin-bottom: 30px;
}
h4, .h4 {
    font-size: 34px;
    line-height: inherit;
    margin-bottom: 30px;
}
.subtitle {
    color: $color-accent;
    text-transform: uppercase;
}

p {
    line-height: 2em;
}

strong {
    font-weight: $font-weight-bold;
}

.text-center {
    text-align: center;
}

@media #{$breakpoint-md-down} {  

    h1, .h1 {
        font-size: 50px;
    }
    h2, .h2 {
        font-size: 34px;
    }
    h3, .h3 {
        font-size: 28px;
    }
    h4, .h4 {
        font-size: 24px;
    }
    .subtitle {
        font-size: .8rem;
        margin-bottom: 10px;
    }

}