description = "Contact Form Block"
==

<section class="contact-form-block">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-offset-1 col-lg-6 col-xl-offset-3 col-xl-5">
                [ form ]
            </div>
        </div>
    </div>
</section>