description = "Contact image quote full"
==

<section class="contact-image-quote-full">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-offset-1 col-lg-11">
                <div class="image" style="background-image: url(http://placehold.it/1920x1080);">
                    <div class="row">
                        <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
                            <div class="content">
                                <div class="quote">
                                    OKE Online staat voor toegankelijke IT-innovaties voor het MKB(+), waarbij datagedreven werken daadwerkelijk rendeert. 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</section>
