description = "Hero contact"
==

<section class="hero-contact">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-offset-1 col-lg-6 col-xl-offset-3 col-xl-6">
                <div class="content text-center">
                    <div class="subtitle">Contact</div>
                    <h1>Aangenaam</h1>
                    <p>Waarmee kunnen we je helpen? Ben je op zoek naar de partner in Digital Commerce? Of wil je gewoon eens een kop koffie komen drinken?</p>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6">
                            <h4>Contactgegevens</h4>
                            <ul>
                                <li><a href="#"><i class="far fa-arrow-right"></i>038 303 29 00</a></li>
                                <li><a href="#"><i class="far fa-arrow-right"></i>info@okeonline.nl</a></li>
                            </ul>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6">
                            <h4>Adresgegevens</h4>
                            <ul>
                                <li>OKE Online B.V.</li>
                                <li>Spoelstraat 7b</li>
                                <li>8281 JT Genemuiden</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% partial 'theme-sidenotes/scroll-down' %}
</section>