description = "Jobs detail main content"
==

<section class="jobs-detail-main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-offset-1 col-lg-6 col-xl-offset-3 col-xl-5">
                <h3>Wat we je bieden</h3>
                {{ record.description_offer | raw }}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-offset-1 col-lg-6 col-xl-offset-3 col-xl-5">
                <h3>Wat we van je vragen</h3>
                {{ record.description_skills | raw }}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-offset-1 col-lg-6 col-xl-offset-3 col-xl-5">
                <h3>De functie</h3>
                {{ record.description_job | raw }}
            </div>
        </div>

    </div>
</section>