description = "Jobs detail apply"
==

<section class="jobs-detail-apply">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-offset-1 col-lg-6 col-xl-offset-3 col-xl-5">
                <h3>Solliciteren</h3>
                <p>Enthousiast geworden over deze functie? Vul onderstaand formulier in, wij nemen binnen enkele dagen contact met je op.</p>             

            </div>
        </div>
    </div>
</section>