description = "Default layout"
==
<!DOCTYPE html>
<html lang="en">
    <head>
        {% partial 'theme-base/head' %} 
    </head>
    <body>
        
        {% partial 'theme-components/scroll-indicator' %}

        <div class="animsition-overlay" data-animsition-overlay="true">
        
            {% partial 'theme-base/header' %}
            
            {% partial 'theme-base/menu-overlay' %}

            {% page %}

            {% partial 'theme-base/footer' %}

            {% partial 'theme-components/group-badge' %}
        
        </div>

        {% partial 'theme-base/footer-scripts' %}

    </body>
</html>