description = "Default layout"

[staticPage]
useContent = 1
default = 0
==
<!DOCTYPE html>
<html lang="en">
    <head>
        {% partial 'theme-base/head' %} 
    </head>
    <body>

        {% partial 'theme-components/scroll-indicator' %}

        <div class="animsition-overlay" data-animsition-overlay="true">
        
            {% partial 'theme-base/header' %}
            
            {% partial 'theme-base/menu-overlay' %}
            
            <section class="hero-static-pages">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-offset-1 col-lg-6 col-xl-offset-3 col-xl-5">
                            <div class="content">
                                <div class="subtitle">OKE Online</div>
                                <h1>{{ this.page.title }}</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="static-page-content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-offset-1 col-lg-6 col-xl-offset-3 col-xl-5">
                            <div class="content">
                                {% component 'staticPage' %}          
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            {% partial 'theme-base/footer' %}

            {% partial 'theme-components/group-badge' %}
        
        </div>

        {% partial 'theme-base/footer-scripts' %}

    </body>
</html>