.sidenote {
    position: absolute;
    z-index: 98;
    width: 8.33%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.sidenote-white {
    color: $color-white;

    &::after {
        background-color: $color-white;
    }

    &::before {
        background-color: $color-white;
    }
}

.sidenote-dark {
    color: $color-primary;

    &::after {
        background-color: $color-primary;
    }

    &::before {
        background-color: $color-primary;
    }
}

.sidenote-top-left {
    left: 0px;
    top: 0px;

    span {
        transform: rotate(-90deg);
        display: block;
        text-transform: uppercase;
    }

    &::before {
        content: '';
        width: 1px;
        height: 100px;
        margin-bottom: 50px;
    }
}

.sidenote-top-right {
    right: 0px;
    top: 0px;

    span {
        transform: rotate(-90deg);
        display: block;
        text-transform: uppercase;
    }

    &::before {
        content: '';
        width: 1px;
        height: 100px;
        margin-bottom: 50px;
    }
}

.sidenote-bottom-left {
    left: 0px;
    bottom: 0px;

    span {
        transform: rotate(-90deg);
        display: block;
        text-transform: uppercase;
    }

    &::after {
        content: '';
        width: 1px;
        height: 100px;
        margin-top: 50px;
    }
}

.sidenote-bottom-right {
    right: 0px;
    bottom: 0px;

    span {
        transform: rotate(90deg);
        display: block;
        text-transform: uppercase;
    }

    &::after {
        content: '';
        width: 1px;
        height: 100px;
        margin-top: 50px;
    }
}

@media #{$breakpoint-md-down} {
    .sidenote {
        display: none;
    }
}

.sidenote.scroll-down {
    left: 0px;
    top: 85%;
}
.sidenote.scroll-down {

    .line {
        height: 100px; 
        position: relative;

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            height: 1px;
            width: 100px;
            margin-top: 50px;
            background-color: $color-accent;
            animation: scrolldown 3s infinite;
        }
    }
}

@keyframes scrolldown {
    0%   {width: 0px;}
    50%  {width: 100px;}
    100% {width: 0px;}
}