description = "Hero Expertise Detail"

[viewBag]
==
<section class="hero-expertise-detail">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-offset-1 col-lg-6 col-xl-offset-1 col-xl-5">
                <div class="content">
                    <div class="subtitle">Expertise</div>
                    <h1>{{ record.title }}</h1>
                    {{ record.description_intro | raw }}
                </div>
            </div>
        </div>
    </div>
    {% partial 'theme-sidenotes/scroll-down' %}
</section>