description = "Cases detail solution"
==
{% if record.description_solution %}
<section class="cases-detail-solution">
    <div class="sidenote sidenote-dark sidenote-bottom-right">
        <div class="note">
            <span>De oplossing</span>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-offset-1 col-lg-6">
                <h2>De oplossing</h2>
                {{ record.description_solution | raw }}
            </div>
        </div>
    </div>
</section>
{% endif %}