description = "Cases detail result"
==

{% if record.description_result %}
<section class="cases-detail-result">
    <div class="sidenote sidenote-dark sidenote-top-right">
        <div class="note">
            <span>Resultaat</span>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-offset-1 col-lg-6">
                <h2>Resultaat & vervolg</h2>
                {{ record.description_result | raw }}
            </div>
        </div>
        {% if record.result_contents is not empty %}
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-offset-1 col-lg-10">
                <div class="row result-boxes">
                    
                    {% for result in record.result_contents %}
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="box counter-box">
                                <div class="subtitle">{{ result.result_title }}</div>
                                <div class="title">{{ result.result_prefix }}<span class="counter" data-count="{{ result.result_number }}"></span>{{ result.result_suffix }}</div>
                            </div>    
                        </div>
                    {% endfor %}
   
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</section>
{% endif %}