description = "Cases detail gallery quote"
==

<section class="cases-detail-gallery-quote">
    <div class="container-fluid">
        {% if record.image_carousel_contents is not empty %}
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-offset-1 col-lg-11">
                <div class="image-list">
                    {% for image in record.image_carousel_contents %}
                        <div class="item" style="background-image: url('{{ image.carousel_image | media }}');"></div>    
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}
        {% if record.quote_carousel_contents is not empty %}
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-offset-1 col-lg-6">
                <div class="quote-carousel">

                    {% for quote in record.quote_carousel_contents %}
                        <div class="item">
                            <div class="quote">
                               {{ quote.quote_description | raw }}
                            </div>
                            <div class="author">
                                <div class="subtitle">{{ quote.quote_author_name }}</div>
                                <div class="h4">{{ quote.quote_author_company }}</div>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>
        {% endif %}
    </div>
</section>