description = "Cases detail impression"
==

{% if record.impression_video %}
<section class="cases-detail-impression">
    <div class="sidenote sidenote-white sidenote-top-right">
        <div class="note">
            <span>Impressie</span>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-offset-1 col-lg-10">
                <div class="video-wrapper" style="background-image:url('{{ record.image_main | media }}');">
                    <div class="video-play">
                        <a href="{{ record.impression_video }}" data-fancybox="gallery">
                            <div class="video-play-button">
                                <i class="fal fa-play"></i>
                            </div>
                            <div class="video-play-text">
                                <div class="subtitle">Impressie</div>
                                <div class="title">Video afspelen</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}