description = "Cases detail customer question"
==

{% if record.description_question %}
<section class="cases-detail-customer-question">
    <div class="sidenote sidenote-dark sidenote-top-left">
        <div class="note">
            <span>Klantvraag</span>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-offset-1 col-lg-6">
                <h2>Klantvraag</h2>
                {{ record.description_question | raw }}
            </div>
        </div>
    </div>
</section>
{% endif %}