description = "Hero Cases Detail"
==

<section class="hero-cases-detail">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-offset-1 col-lg-6 col-xl-offset-3 col-xl-6">
                <div class="content text-center">
                    <div class="subtitle">{{ record.title }}</div>
                    <h1>{{ record.client }}</h1>
                    <p>{{ record.description_intro | raw }}</p>

                    <div class="link-list-intern">
                        <ul>
                            <li>
                                <a href="#"><i class="far fa-arrow-right"></i>Klantvraag</a>
                            </li>
                            <li>
                                <a href="#"><i class="far fa-arrow-right"></i>De oplossing</a>
                            </li>
                            <li>
                                <a href="#"><i class="far fa-arrow-right"></i>Resultaat & vervolg</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            {# <div class="hidden col-xs-12 col-sm-12 col-md-12 col-lg-offset-2 col-lg-3 col-xl-offset-2 col-xl-4">
                <div class="content">
                    <div class="specs">
                        <ul>
                            {% if record.client %}
                            <li>
                                <div class="subtitle">Klant</div>
                                <div class="title">{{ record.client }}</div>
                            </li>
                            {% endif %}
                            {% if record.year %}
                            <li>
                                <div class="subtitle">Jaar</div>
                                <div class="title">{{ record.year }}</div>
                            </li>
                            {% endif %}
                            {% if record.services is not empty %}
                            <li>
                                <div class="subtitle">Diensten</div>
                                <div class="title">
                                    {% for service in record.services %}
                                        {{ service.title }}
                                    {% endfor %}
                                </div>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div> #}
        </div>
    </div>
    {% partial 'theme-sidenotes/scroll-down' %}
</section>