.products-overview {
    padding: 10px 0px;

    .product-item {
        position: relative;
        margin: 80px 0px;

        &:nth-child(even){
            
            a {
            justify-content: flex-end;
                
                .image {
                    left: 0;
                    right: auto;
                }
            }
        }

        a {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            width: 100%;

            .image {
                position: absolute;
                right: 0;
                top: 0;
                bottom: 0;
                width: 85%;
                overflow: hidden;
                border-radius: 12px;
                display: flex;
                align-items: center;
                
                
    
                img {
                    width: 100%;
                    object-fit: cover;
                    
                }
    
            }
    
            .content-box {
                margin: 120px 0px;
                background: $color-white;
                border-radius: 12px;
                box-shadow: $box-shadow-light;
                padding: 50px 30px;
                position: relative;
                z-index: 10;
    
                .title {
                    max-width: 80%;
                    font-size: 38px;
                    line-height: 38px;
    
                    span {
                        color: $color-accent;
                    }
                }
    
                .caption {
                    margin-bottom: 30px;
                }

                .arrow {

                    svg {
                        color: $color-accent;
                    }
                }
    
            }
        }
    }
}