description = "Scroll Down"
==

<div class="sidenote sidenote-white sidenote-bottom-left scroll-down">
    <div class="scroll-down-inner">
        <span class="text">Scroll</span>
        <span class="line"></span>
    </div>
</div>