.hero-stories-detail {
    min-height: 60vh;
    background: $color-primary;

    .content {
        color: $color-white;
        padding-top: 250px;

        h1 {
            color: $color-white;
            font-size: 3.3em;
        }
    }
}
