.stories-detail-content {

    

    .stories-detail-sidebar {
        margin-top: 20px;
        padding: 30px 30px 0px 30px;
        border-radius: 12px;
        border: 1px solid $border-color-light;
        
        .inner {

            .heading {

                h4 {
                    font-size: 32px;
                    margin-bottom: 20px;
                }
            }

            .contact {
            
                ul {
                    list-style: none;
                    margin: 1.5em 0 0 0;
                    padding: 0px;
    
                    li {
                        margin: 1em 0;
    
                        a {
                            transition: ease .5s;
    
                            svg {
                                transition: ease .5s;
                                color: $color-accent;
                                margin-right: 1em;
                            }
    
                            &:hover {
                                color: $color-accent;
    
                                svg {
                                    margin-right: 1.5em;
                                }
                            }
    
                        }
                    }
                }
            }

            .image {
                margin-top: 50px;
                text-align: center;

                img {
                    max-width: 80%;
                    max-height: 300px;
                    margin: 0 auto;
                }
            }
        }
    }
}