
.contact-image-quote-full {
    background-color: $color-white;

    .container-fluid {
        padding-right: 0px;
    }

    .image {
        border-radius: 12px 0px 0px 12px;
        height: 80vh;
        margin-top: -100px;
        position: relative;
        overflow: hidden;
        background-size: cover;
        background-position: center;        

        .content {
            position: absolute;
            left: 25px;
            bottom: 25px;
            z-index: 50;
            max-width: 800px;
            width: 80%;

            .quote {
                font-size: 24px;
                font-weight: $font-weight-bold;
                font-style: italic;
                color: $color-white;
            }
        }

        &::after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: $overlay-dark-transparent;
            
        }
    }   
}


@media screen and (min-width: $break-lg) {
    .contact-image-quote-full {
        
        .image {
            margin-top: -250px;

            .content {
                right: 25px;
                left: 50px;
                bottom: 50px;

                .quote { 
                    font-size: 40px;
                }
            }
        }
    }
}
