.hero-contact {
    min-height: 100vh;
    background: $color-primary;

    .content {
        color: $color-white;
        padding-top: 150px;

        h1 {
            color: $color-white;
        }

        h4 {
            color: $color-accent;
            font-size: 1.5em;
            margin-top: 30px;
        }

        ul {
            list-style: none;
            margin: 0px;
            padding: 0px;
            line-height: 2em;

            li {

                a {

                    svg {
                        margin-right: 15px;
                        color: $color-accent;
                    }
                }
            }
        }
    }
}
